[2013-07-24 22:47] armadsen opened #1 "Mutable MIKMIDICommand subclasses don't inherit from their corresponding immutable counterparts"
Right now, for example, MIKMutableMIDIChannelVoiceCommand inherits from MIKMutableMIDICommand instead of MIKMIDIChannelVoiceCommand which means that the following code throws a warning (thought it works OK at runtime):

[code]

[2013-07-29 21:04] armadsen opened #2 "MIKMIDIMapping can't be saved/loaded to/from disk on iOS"
MIKMIDIMapping relies on NSXMLDocument, etc. for saving to/loading from disk, meaning it doesn't work on iOS. Either provide an alternate serialization strategy on iOS, or rewrite to remove the dependence on NSXMLDocument.

[2013-09-12 14:53] armadsen opened #3 "Add support for additional 14-bit CC commands"
There are a few more 14-bit commands that MIKMIDI doesn't support coalescing. See http://www.midi.org/techspecs/midimessages.php#3 e.g. commands #98 and #99.

[2013-09-12 15:13] armadsen opened #4 "Strip non-printable characters after controller names when saving mappings"

[2013-09-12 15:32] #4 closed, assigned to nobody

[2013-10-10 17:55] #1 closed, assigned to nobody

[2013-11-07 21:38] armadsen opened #5 "If deployment target is 10.8 or higher, or iOS, use weak references for delegates in favor of unsafe_unretained"
On OS X 10.7, many classes that are likely to be the delegate of various MIKMIDI classes are likely to be classes that don't support weak references. In particular, NSViewController, NSWindow, and NSWindowController. Therefore, MIKMIDI uses unsafe_unretained references to delegates. If the app being built is to be deployed to 10.8 or higher, it would be better to automatically use weak references

[2013-11-19 23:09] armadsen opened #6 "MIKMIDIDeviceManager's virtual endpoint properties don't update dynamically"
Unlike the `availableDevices` property, `virtualSources` and `virtualDestinations` don't update (and trigger KVO notifications) in response to new virtual endpoints being added to the system. This should be fixed.

[2013-11-20 22:51] armadsen opened #7 "Make MIKMIDIObject properties backed by MIDIObject properties KVO compliant"

[2013-11-21 22:02] armadsen opened #8 "Make MIKMIDIObject creation methods return an existing instance for known MIDIObjectRefs"
It might be advantageous for MIKMIDIObject to return an existing instance for a MIDIObjectRef that has already been used to create a MIKMIDIObject. That is, make it so there's a 1:1 correspondence between MIDIObjectRefs and MIKMIDIObject instances, rather than allowing multiple instances to represent the same underlying MIDI object.

The initial inspiration for this thought was an issue hit into i

[2013-11-22 00:30] #6 closed, assigned to armadsen

[2014-01-28 19:50] armadsen opened #9 "Make MIKMIDIPort inherit from MIKMIDIObject."
This should be pretty straightforward. The main complication is implementing the initializer(s) correctly.

[2014-02-11 21:08] armadsen opened #10 "Allow customizing folder where MIKMIDIMappingManager stores user mappings"
Currently, MIKMIDIMappingManager uses `<AppSupportFolder>/<AppBundleID>/MIDI Mappings` to store and load user-supplied MIDI mapping files. This is customizable by subclassing MIKMIDIMappingManager, but it would be better if it could be customized without subclassing.

[2014-02-11 22:03] armadsen opened #11 "Add NSCopying support to MIKMIDIMappingItem and MIKMIDIMapping"

[2014-02-13 00:12] armadsen opened #12 "Fix issues with multiple objects connecting to the same endpoint simultaneously"
Right now, internally, MIKMIDIDeviceManager supports multiple event handler blocks for a single connected input. This means that more than one object can connect to the same endpoint. However, the `-disconnectInput:` method removes _all_ event handlers, so there's no way to selectively disconnect a single event handler while leaving other connected.

This needs to be fixed. It probably makes sense

[2014-02-18 21:40] #11 closed, assigned to armadsen

[2014-02-20 21:41] #9 closed, assigned to armadsen

[2014-02-20 22:45] #12 closed, assigned to armadsen

[2014-03-10 18:54] armadsen opened #14 "Add support for Quick Look in the debugger"
Xcode 5.1 extends support for Quick Look in the debugger to custom types. It'd be nice if at least MIKMIDICommand and its subclasses supported this. Other MIKMIDI classes might benefit from it too. See https://developer.apple.com/library/mac/documentation/IDEs/Conceptual/CustomClassDisplay_in_QuickLook/

[2014-03-13 19:18] armadsen opened #15 "Fix warnings raised by Xcode 5.1"

[2014-03-13 21:55] #15 closed, assigned to armadsen

[2014-03-19 01:42] #5 closed, assigned to armadsen

[2014-05-16 23:10] #2 closed, assigned to armadsen

[2014-05-19 16:41] armadsen opened #16 "Add support for creating new virtual sources and destinations."
This would be useful for applications that wish to present MIDI source and destination endpoints to other applications. e.g. This could be used to create a virtual DJ controller application.

[2014-05-19 16:41] armadsen opened #17 "Improve documentation of NSUIApplication+MIKMIDI"
In particular, it would be good to have a high level overview of the MIDI responder architecture, MIDI routing, etc.

[2014-05-23 19:51] fattjake opened #18 "Finish Meta Event classes"
The following meta events still need classes:

Sequence Number
MIDI Channel Prefix
End Of Track
Set Tempo
SMTPE Offset
Sequencer Specific

[2014-06-11 15:55] armadsen opened #19 "Programmatically created MIKMIDICommands' channel should default to 0."
Currently, when creating a new MIKMIDICommand programmatically (via `+commandForCommandType:`), the channel defaults to 15. This should be 0 instead.

[2014-06-11 15:57] armadsen opened #20 "Make it easier to create a new MIKMIDICommand instance of a particular type"
Right now, if you want to create e.g. an MIKMutableMIDIControlChangeCommand, you have to do this:

    MIKMutableMIDIControlChangeCommand *newCommand = [MIKMutableMIDIControlChangeCommand commandForCommandType:MIKMIDICommandTypeControlChange];

It would be nicer to be able to do this:

    MIKMutableMIDIControlChangeCommand *newCommand = [[MIKMutableMIDIControlChangeCommand alloc] init];

and have

[2014-06-28 07:24] muxa opened #21 "Add support for network session"
I'm trying to write a MIDI app that would be visible via Network MIDI. From CoreMIDI documentation it appears that MIDINetworkSession has to be used for that. However MIKMIDI does does seem to have this implemented.
Any plans for adding network session support? Or is there a way to use MIDINetworkSession directly with MIKMIDI? Any help will be appreciated.

[2014-08-13 05:37] computersarehard opened #22 "[MIKMIDIOutputPort sendCommands toDestination:error] Uses Default MIDIPacketList Size"
First off, thanks for making this library available. It is so much nicer to use than the clunky CoreMIDI API!

The `sendCommands:toDestination:error` method in `MIKMIDIOutputPort` creates a `MIDIPacketList` using the default size (1 packet with 256 bytes of data). This causes an error if the commands passed in take up more memory than is available (either by having a lot of data in the packets or

[2014-09-24 17:58] armadsen opened #24 "Refactor so MIKMIDIDeviceManager is not responsible for the globally-used MIDI client"

[2014-09-24 17:59] #22 closed, assigned to nobody

[2015-01-07 23:54] armadsen commented on #16
https://github.com/mixedinkey-opensource/MIKMIDI/pull/25 implements virtual source endpoints.

[2015-01-07 23:54] #16 closed

[2015-01-07 23:55] armadsen opened #26 "Better documentation for MIKMIDIPlayer"
Better documentation and/or example code for using MIKMIDIPlayer and related classes (e.g. MIKMIDISequence) would be very useful.

[2015-01-08 00:01] armadsen opened #27 "Remove (most) -get<Value>: pass by reference getters."
Even where MIKMIDI wraps a CoreMIDI function that returns a value passed by reference, unless there's a very pressing reason to do otherwise, I'd prefer to avoid pass by reference getters. This does of course require some thought about error handling. In cases where multiple specific errors may be generated, use a regular pass-by-reference NSError, but if possible returning a special/default value

[2015-01-08 00:03] armadsen opened #28 "Add convenience initializer function for MIKMIDITimeSignature structs."

[2015-01-08 00:07] armadsen opened #29 "Document MIKMIDISequencer and related classes."
Especially important is discussion of what MIKMIDISequencer can be used for, how it differs from MIKMIDIPlayer, example code, etc.

[2015-01-14 21:17] #20 closed

[2015-01-23 23:31] armadsen opened #33 "MIKMIDICommands created with -init only have 2 data bytes"
This causes a problem particularly for note messages where because the 3rd byte (dataByte2/velocity) doesn't exist, sending them to a MIDI instrument may fail.

[2015-01-23 23:32] #33 closed

[2015-02-13 23:22] armadsen commented on #29
This is done. Improvements could be made, but nothing urgent.

[2015-02-13 23:22] #29 closed

[2015-02-13 23:22] #26 closed

[2015-02-13 23:24] armadsen opened #34 "MIKMIDISequencer is too hard to use for simple playback."
I'd like e.g. this code to just work:

[code]

[2015-02-13 23:35] armadsen commented on #34
A related issue is that MIKMIDITrack has a destinationEndpoint property. I know this matches Core MIDI, but I _really_ don't like this from an API design standpoint. I'd much prefer that track->endpoint mappings were configurable on the sequencer with sensible defaults.

[2015-02-13 23:54] armadsen opened #35 "MIKMIDITrack properties should generally be KVOable."
My main concern here is that `-noteEvents`, etc. "pull" from the underlying data, and therefore aren't KVO compatible at all. Rather, I think we should read tracks at initialization (for sequences/tracks read from a file), and store them in our own property, then _only_ allow inserts/removal through a well defined interface that maintains KVC/KVO compliance.

This will e.g. enable KVO to be used t

[2015-02-13 23:55] armadsen commented on #34
Same story for `-[MIKMIDISequence setDestinationEndpoint:]`.

[2015-02-13 23:57] armadsen commented on #34
ping @cflesner

[2015-02-16 18:27] armadsen opened #36 "Remove the need to use virtual endpoints for _internal_ scheduling."
Right now, in order to take advantage of CoreMIDI's built in support for scheduling events in advance, we often create virtual endpoints (`MIKMIDIClientDestinationEndpoint`s). This is easy, but it has the major disadvantage of "leaking" these endpoints to the outside world since they're visible to any app on the system.

In `MIKMIDISequencer`, we do have a need for advance scheduling, but hooking

[2015-02-16 19:12] cflesner opened #37 "MIKMIDISequencer should support all MIDI event types"
Currently, MIKMIDISequencer can only playback and record note events. It should be able to handle all MIDI event types.

Once MIKMIDISequencer is able to play back any event type MIKMIDIPlayer can be deprectated and eventually removed.

[2015-02-16 19:34] #34 closed

[2015-02-16 19:35] armadsen opened #38 "MIKMIDIEndpointSynthesizer has too much reverb by default on OS X."

[2015-02-16 19:50] armadsen commented on #38
Not yet sure if this is also an issue on iOS where a different default audio unit is used, but it's fixed on OS X now.

[2015-02-16 19:50] #38 closed

[2015-02-16 19:57] armadsen commented on #3
Going to label this wontfix for now. Revisit if this becomes necessary.

[2015-02-16 19:57] #3 closed

[2015-02-16 21:01] cflesner opened #39 "MIKMIDI should use nullability annotations"
The nullability annotations added to Objective-C with the introduction of Swift 1.2 should be added to MIKMIDI.

[2015-02-19 16:55] cflesner opened #40 "MIKMIDISequencer should factor in plugin latencies when scheduling events for software synths"
When playing notes through a software synth (via MIKMIDIEndpointSynthesizer), the sequencer should account for plugin latency times to ensure perfect timing in the audio output.

Ideally, the latency should be configurable so that any additional latency added by effects that are outside of the scope of this library could be included in the overall latency amount.

[2015-02-19 21:51] armadsen opened #41 "Make MIKMIDIEventIterator conform to NSFastEnumeration."
Could probably even make it an NSEnumerator, though I'm not sure that really provides any benefit.

[2015-02-19 22:24] armadsen commented on #41
For that matter, lets just make MIKMIDITrack conform to NSFastEnumeration.

[2015-02-19 23:31] armadsen opened #42 "Unify MIKMIDICommand and MIKMIDIEvent"
I'm not sure if this is actually practical, but I'd love to remove the mostly annoying distinction between MIDI messages (`MIKMIDICommand`s) as used by devices, endpoints etc., and MIDI events (`MIKMIDIEvent`s) as used by sequences, tracks, etc.

At the very least, it would be nice to make conversion between them easier. e.g. +`[MIKMIDICommand commandsWithEvent:event]` and vice versa.

[2015-02-19 23:37] armadsen opened #43 "+[MIKMIDINoteEvent keyPathsForValuesAffectingEndTimeStamp] includes wrong key paths."
musicTimeStamp should just be timeStamp.

[2015-02-20 19:28] #43 closed

[2015-02-20 19:34] cflesner commented on #42
I'm not sure if it is practical to make them the same class or not.

I agree that conversion between the two should be simple, as you suggested. It would certainly keep MIKMIDISequencer from getting too packed full of conversion code itself as it expands to include more than just note events.

Both issues should probably be addressed at the same time to avoid the extra work of refactoring all of t

[2015-02-20 19:36] armadsen commented on #42
Right. I actually just added +[MIKMIDICommand commandsFromNoteEvent:clock:] for now. I don’t consider its implementation final, and of course that’s only for note events. Combining them into single classes is probably a tall order, though…

[2015-02-20 22:37] armadsen opened #44 "Added API to MIKMIDISequencer so it can connect directly to an endpoint"
This is just a nice to have. Instead of requiring the user of MIKMIDISequencer to connect to a device/endpoint and "manually" route messages to MIKMIDISequencer it would be cool to just give the sequencer the endpoint (or device) in question and have it connect to it. This should of course be optional in addition to the existing `-recordMIDICommand:` method.

[2015-02-20 23:25] armadsen opened #45 "MIKMIDISequencer stops recording almost immediately after starting if its sequence is empty."
See the MIDI Files Testbed project in the 1.1 branch to reproduce this. Maybe I've screwed something up...

[2015-02-20 23:27] armadsen commented on #45
It also plays a single piano note when you start recording. I haven't investigated at all, but perhaps that's a pre-roll problem?

[2015-02-20 23:40] armadsen opened #46 "MIKMIDISequencer plays a piano note when recording starts"
See the MIDI Files Testbed project in the 1.1 branch to reproduce this. Seems like it could be a pre-roll problem. Maybe I've screwed something up...

[2015-02-20 23:40] armadsen commented on #45
I pushed a fix for this. I'll let you close this if you think the fix looks OK. It's simple enough that I worry I overlooked something. I made a new issue #46 for the piano note at the beginning problem.

[2015-02-21 00:01] #28 closed

[2015-02-21 00:04] armadsen commented on #39
Chris Lattner indicated that Apple will likely provide a new macro, something like, NS_ASSUME_NONNULL_BEGIN/END, so it might be worth waiting for that.

This thread has good info:
http://lists.apple.com/archives/xcode-users/2015/Feb/msg00046.html

[2015-02-21 18:54] armadsen opened #47 "Add ability to load soundfont files to MIKMIDISynthesizer"

[2015-02-21 18:59] armadsen opened #48 "MIKMIDISequencer playback stalls when mouse is held down"
To reproduce, open MIDI Files Testbed, load a file, hit play, then click and hold on a button, or the devices dropdown, etc.

[2015-02-22 16:53] armadsen opened #50 "-[MIKMIDISequence initWithData:] should take an error parameter."
Also, because `-initWithFileAtURL:error:` calls through to it, currently it can/will return nil without setting its passed in error, which is plain wrong.

[2015-02-22 17:01] armadsen opened #52 "Add error handling to MIKMIDIClientSource/DestinationEndpoint creation method(s)."
This issue was raised by the fact that `MIDIDestinationCreate()` fails on iOS (6+) unless the audio key is  set for UIBackgroundModes. See [here](https://developer.apple.com/library/ios/documentation/CoreMidi/Reference/MIDIServices_Reference/):

Beginning in iOS 6, apps need to have the audio key in their UIBackgroundModes in order to use CoreMIDI’s MIDISourceCreate and MIDIDestinationCreate funct

[2015-02-22 17:04] armadsen opened #53 "Fix new warnings thrown when building MIKMIDI in Xcode 6.3 beta."

[2015-02-22 17:21] armadsen commented on #45
We discussed adding a property to make this configurable. The thinking is that some apps may want recording a new track in an existing sequence to stop when the end of the sequence (ie. longest track) is reached. The default for this property would be NO (ie. doesn't stop).

I think we should also extend the length of an empty sequence to something reasonable.

[2015-02-22 21:53] grav opened #54 "Active Sense recognised as System Reset"
My MiniBrute is sending out Active Sense MIDI commands. They are recognised as such by MIDI Monitor (http://www.snoize.com/MIDIMonitor/), but when inspecting them in `- (id)connectInput:(MIKMIDISourceEndpoint *)endpoint error:(NSError **)error eventHandler:
(MIKMIDIEventHandlerBlock)eventHandler`, they seem to have command type MIKMIDICommandTypeSystemMessage (`0xff` instead of `0xfe`).

Other com

[2015-02-23 04:01] #50 closed

[2015-02-23 04:12] armadsen commented on #53
Framework project now builds cleanly in Xcode 6.3 beta 1.

[2015-02-23 04:12] #53 closed

[2015-02-23 04:17] armadsen commented on #54
Hi, thanks for the report. Can you try logging the MIDI data that's actually being received and send me the results? Add this line:

    NSLog(@"Processing received MIDI packet: %@", [NSData dataWithBytes:packet->data length:packet->length]);

right after line 188 in MIKMIDIInputPort.

You should end up with this:

[code]

[2015-02-23 04:31] armadsen commented on #27
These should all be taken care of now.

[2015-02-23 04:31] #27 closed

[2015-02-24 16:54] armadsen commented on #52
I believe @pwightman is working on this.

[2015-02-24 17:05] pwightman commented on #52
Yep, I'll get on this next.

[2015-02-25 05:01] pwightman opened #57 "Swift crash/Obj-C warning when setting numerator on MIKMutableMIDIMetaTimeSignatureEvent"
The following Objective-C:

[code]

Yields the following warning in the console:

[code]

but does not crash. The following Swift:

[code]

Raises an `NSRangeException`:

[code]

The length of the range (4026531840) is different every time I run it.

MIKMutableMIDIMetaTimeSignatureEvent, MIKMIDIMetaTimeSignatureEvent and MIKMIDIMetaEvent all don't have constructors, so it falls all the way back to

[2015-02-25 05:08] pwightman commented on #57
So the Objective-C actually gets past the `metadata` call (where Swift is crashing) and warns about [the next line](https://github.com/mixedinkey-opensource/MIKMIDI/blob/d065be143a7b01491706e799908fa3d038fd1348/Source/MIKMIDIMetaTimeSignatureEvent.m#L47).

[2015-02-25 05:10] armadsen commented on #57
Nice catch. I'll fix this tomorrow morning (if you don't get to it before me).

[2015-02-25 06:12] pwightman opened #59 "All MIKMIDIEvent subclasses' alloc/init initialize with NULL eventType"
The over-arching problem to #57. None of the subclasses, as far as I can tell, initialize with alloc/init of the proper `eventType` (and possibly other properties) because they all fall back to [`init` in `MIKMIDIEvent`](https://github.com/mixedinkey-opensource/MIKMIDI/blob/487549f9b7f6c6ada91ffcba2ab4b8f5fa7d48d2/Source/MIKMIDIEvent.m#L45-L52), which defaults to NULL. I'm not sure if this should

[2015-02-25 16:47] armadsen commented on #59
I'm on this. It should never have been overlooked in the first place, but I need to think through the best way to solve it.

[2015-02-25 18:15] armadsen commented on #57
Should be fixed.

[2015-02-25 18:15] #57 closed

[2015-02-25 18:16] armadsen commented on #59
Accidentally referenced the wrong issue in https://github.com/mixedinkey-opensource/MIKMIDI/commit/d15dd3ee55855af1a938c7ae2a50fd7492143726 which should have been for this issue.

[2015-02-25 18:19] armadsen commented on #59
OK, this is fundamentally fixed now. Calls to plain `-init` on an MIKMIDIEvent subclass will now return an instance initialized with the correct event type. Calls to the new, designated initializer, `-initWithTimeStamp:midiEventType:data:` will return the proper subclass with its event type set, even if called on MIKMIDIEvent itself (note that passing nil for data is fine).

@pwightman, let me kno

[2015-02-25 18:21] armadsen commented on #47
This seems satisfactory for now. We can open a new issue if improvements need to be made.

[2015-02-25 18:21] #47 closed

[2015-02-25 18:41] armadsen commented on #19
Fixed.

[2015-02-25 18:41] #19 closed

[2015-02-26 18:11] armadsen opened #60 "Refactor MIKMIDISynthesizer/Instrument API so that it makes more sense"
Right now, the API for selecting instruments is somewhat confusing, and not that well factored. For one thing, `+availableInstruments` probably shouldn't be a class method on `MIKMIDISynthesizerInstrument`, rather it should be an _instance_ method on `MIKMIDISynthesizer`. Better documentation would help too.

[2015-03-02 02:55] armadsen commented on #54
@grav , unfortunately I'm not able to reproduce this directly as I don't have a device that sends active sense messages. Are you able to do the diagnostics I described in my last comment?

Thanks!
Andrew

[2015-03-02 09:48] grav commented on #54
Sure, I'll look into it! :-)

[2015-03-03 15:33] armadsen commented on #59
Haven't heard any more on this, so I'm closing the issue.

[2015-03-03 15:33] #59 closed

[2015-03-03 15:38] armadsen commented on #48
Fixed by adding the processing timer to the run loop for NSRunLoopCommonModes instead of the default mode.

[2015-03-03 15:38] #48 closed

[2015-03-03 16:01] armadsen commented on #41
This will be easier after #35 is done.

[2015-03-04 16:43] armadsen commented on #35
Another benefit of this approach is that we wouldn't be reallocating a bunch of temporary MIKMIDIEvent instances every time methods that return events on MIKMIDITrack are called.

[2015-03-04 17:23] armadsen opened #63 "Add MIKMIDIEvent subclasses for channel events."

[2015-03-04 22:03] armadsen opened #64 "Fix header warning when building MIKMIDI-iOS framework in a Swift project in Xcode 6.3"

[2015-03-04 22:04] armadsen opened #65 "Add remaining MIKMIDIChannelVoiceCommand subclasses"
We still need pitch bends, key pressure, etc.

When doing this, make sure `+[MIKMIDICommand(MIKMIDIChannelEventToCommands) commandFromChannelEvent:clock:]` (in MIKMIDIChannelEvent.m) is updated accordingly.

[2015-03-04 23:27] armadsen commented on #37
I'm not sure if we need to support _all_ event types, or just those that actually affect sound output? It doesn't seem like the sequencer should need to support e.g. meta events. Except perhaps during recording? Any thoughts, @cflesner?

[2015-03-05 00:05] armadsen commented on #63
Still need to add MIKMIDIChannelPressureEvent.

[2015-03-06 16:36] cflesner opened #66 "MIKMIDISequence needs a way to be created from files/data with the kMusicSequenceLoadSMF_ChannelsToTracks flag set"
Additional init/convenience methods should be added to MIKMIDISequence with a BOOL parameter to determine whether or not that flag should be set.

[2015-03-06 17:05] #66 closed

[2015-03-06 18:48] armadsen commented on #64
Fixed by putting the _SubclassMethods.h headers in their own explicit submodules of MIKMIDI.framework. To use them from Swift, you now have to e.g.:

[code]

[2015-03-06 18:48] #64 closed

[2015-03-06 19:09] armadsen commented on #63
The following subclasses of MIKMIDIChannelEvent now all exist:

- MIKMIDIPolyphonicKeyPressureEvent
- MIKMIDIControlChangeEvent
- MIKMIDIProgramChangeEvent
- MIKMIDIChannelPressureEvent
- MIKMIDIPitchBendChangeEvent

[2015-03-06 19:09] #63 closed

[2015-03-06 19:10] armadsen commented on #42
As I've worked a little more on this, it seems like some classes could be the same. MIKMIDIChannelEvent and its subclasses are almost identical to MIKMIDIChannelVoiceCommand and its subclasses with the exception of the note commands. Let's keep thinking about this.

[2015-03-10 22:58] armadsen opened #67 "Make MIKMIDISequence KVO compliant"
At the very least, it should be KVO compliant for `-tracks`.

[2015-03-11 04:58] armadsen opened #68 "Add regression test for commit e3cda89b"
I wouldn't normally open an issue for this, but since unit tests are currently only in the Issue35 branch, I wanted to make note of this so I don't forget once that branch is done and merged back into 1.1.

https://github.com/mixedinkey-opensource/MIKMIDI/commit/e3cda89b266c8000117f3d4eb222114a01db99ce

[2015-03-11 17:44] armadsen commented on #35
Fixed. The related Issue #67 still needs to be fixed.

[2015-03-11 17:44] #35 closed

[2015-03-13 17:13] #68 closed

[2015-03-19 20:14] armadsen opened #70 "Make documentation for +[MIKMIDIControlChangeCommand commandByCoalescingMSBCommand:andLSBCommand:] clearer"
It should be made more clear that `+[MIKMIDIControlChangeCommand commandByCoalescingMSBCommand:andLSBCommand:]` is used internally by MIKMIDI, but isn't that likely to be useful for end users of MIDI and certainly isn't the "standard" way to create a regular MIKMIDIControlChangeCommand instance.

[2015-03-24 21:27] cflesner opened #71 "MIKMIDISynthesizer shouldn't compare componentFlags and componentFlagsMask in -isUsingAppleSynth"
We aren't setting the componentFlags or componentFlagsMask in +appleSynthComponentDescription, so comparing that to the actual component description will fail when they are set in the actual description.

[2015-03-24 21:31] #71 closed

[2015-03-25 02:32] armadsen commented on #67
Fixed.

[2015-03-25 02:32] #67 closed

[2015-03-27 01:09] armadsen opened #74 "MIKMIDISequencer's pre-roll is broken"
It's not 100% clear to me how the pre-roll _should_ work, but its current behavior seems obviously wrong. If you don't set the preroll, you get one metronome tick, then nothing. If you play a MIDI note immediately after starting recording (before the pre-roll is up?), MIDI recording is basically broken (in MIDI Files Testbed, hit Record, then immediately press a key on the connected MIDI keyboard,

[2015-03-28 17:25] #70 closed

[2015-04-07 19:10] armadsen opened #75 "MIKMIDIMetronome doesn't work on iOS"
`[MIKMIDIEndpointSynthesizerInstrument instrumentWithID:7864376]` fails on iOS:

![screen shot 2015-04-07 at 1 08 12 pm](https://cloud.githubusercontent.com/assets/1057175/7031271/77dfd600-dd27-11e4-8f0a-bcbfdf4602eb.png)

[2015-04-07 19:13] armadsen commented on #52
I think this is good enough for now. You get a descriptive error message and a link to a [wiki page](https://github.com/mixedinkey-opensource/MIKMIDI/wiki/Adding-Audio-to-UIBackgroundModes) with steps to solve the problem.

[2015-04-08 03:53] armadsen commented on #75
The metronome now works on iOS 8+ by using MIDISynth instead of AUSampler for MIKMIDIMetronome. This is a temporary solution until we work something better out for iOS 7-, but at least it will work for apps targeting iOS 8.

[2015-04-19 10:19] danielbreves opened #76 "MIKMIDIEndpointSynthesizerInstrument.availableInstruments doesn't work on iOS"
Calling `MIKMIDIEndpointSynthesizerInstrument.availableInstruments()` logs an error on iOS:
[code]
Error 10879 is [kAudioUnitErr_InvalidProperty](https://developer.apple.com/library/mac/documentation/AudioUnit/Reference/AUComponentServicesReference/index.html#//apple_ref/c/econst/kAudioUnitErr_InvalidProperty).

This seems to happen because the property id `kMusicDeviceProperty_InstrumentNumber` i

[2015-04-19 16:03] armadsen commented on #76
Thanks for reporting this. A fix for this should maybe coincide with a fix for #60.

[2015-04-19 16:03] armadsen commented on #76
Sorry, didn't meant to close...

[2015-04-20 21:45] armadsen opened #77 "Support MIKMIDIMetronome on iOS 7 (and 6?)."
Not sure how feasible this is, and I may just decide to drop support for iOS 6 and 7, but I'm creating this issue so I don't just forget. Follow up to #75.

[2015-04-20 21:45] armadsen commented on #75
See #77 for iOS 7- support.

[2015-04-20 21:45] #75 closed

[2015-04-20 21:46] armadsen commented on #46
This no longer happens (not exactly sure how it was fixed). The metronome still fires a single sound, then stops, but it is no longer a piano sound. Therefore, I'm closing this, but #74 remains outstanding.

[2015-04-20 21:46] #46 closed

[2015-04-21 12:58] danielbreves commented on #76
@armadsen would you have a workaround until this is fixed? I can't find any documentation on how to get the available instruments for the sampler. I found [Apple sample code](https://developer.apple.com/library/ios/samplecode/LoadPresetDemo/Listings/LoadPresetDemo_Classes_MainViewController_m.html#//apple_ref/doc/uid/DTS40011214-LoadPresetDemo_Classes_MainViewController_m-DontLinkElementID_6) show

[2015-04-21 13:17] danielbreves commented on #76
If you can point me in the right direction I might be able to help.

[2015-04-21 22:02] armadsen commented on #76
It's not clear what a workaround for now is. On OS X, we use the DLS Synth, which has properties for accessing available instruments and their names. On iOS, the two MIDI synthesizer units that are available are AUSampler and AUMIDISynth. AUSampler isn't GM (General MIDI) compatible "out of the box", you have to load up a sound font file.

AUMIDISynth is new in iOS 8, is almost entirely undocument

[2015-04-21 22:04] armadsen commented on #76
I think there is a workaround for _selecting_ instruments on iOS right now. That is to load a soundfont file using `-[MIKMIDISynthesizer loadSoundfontFromFileAtURL:error:]`, then selecting banks and presets in it using program change messages.

[2015-04-23 15:29] danielbreves commented on #76
Ahh I was using 1.0.0, which is why I couldn't find `loadSoundfontFromFileAtURL` earlier. I've switched to the 1.1 branch and got it working. Feel free to close the issue. It seems `AUMIDISynth` may not be ready for production yet, we may need to wait a little longer before dropping support for iOS 6 and 7?

[2015-04-23 15:31] armadsen commented on #76
Indeed. AUMIDISynth seems quite half baked, at least on iOS :(.

[2015-04-23 20:37] cflesner opened #78 "Note off time stamps are incorrect in MIKMIDISequencer"
The MIDI time stamps for pending note offs aren't being calculated properly.

[2015-04-23 20:43] #78 closed

[2015-04-23 20:54] cflesner opened #79 "Note offs are not scheduled correctly during tempo changes in MIKMIDISequencer"
In MIKMIDISequencer, pending note off midi time stamps are currently calculated at the time of the note on, and are then used in the pending note off machinery.

When a tempo change occurs between the note on and the note off, that midi time stamp will no longer be musically accurate.

[2015-04-28 15:58] #76 closed

[2015-04-29 03:11] mtthwcmpbll opened #80 "CocoaPods installation of MIKMIDI can't be imported"
Using the latest Xcode (6.3), CocoaPods (0.36.3), and MIKMIDI (1.0.1), I'm not able to import the MIKMIDI module into any swift files.  I'm fairly new to mac development and the tools I'm talking about here so maybe I'm missing something, but creating a new Swift project and adding CocoaPods (following https://guides.cocoapods.org/using/using-cocoapods.html) and MIKMIDI (following https://github.c

[2015-04-29 17:12] armadsen commented on #80
Hi Matthew,

There are two ways to fix this:

- Add an Objective-C bridging header to your project and `#import <MIKMIDI/MIKMIDI.h>` there.
- Tell CocoaPods to build pods as frameworks instead of static libraries.

Of these options, the second is the easiest one. You'll simply need to add the `use_frameworks!` directive to your Podfile. So your Podfile would look like e.g.:

[code]

This is necess

[2015-04-30 01:30] mtthwcmpbll commented on #80
Ah, yeah, I've verified that both of those fix the problem.  When using cocoapods as frameworks, I initially had trouble with the frameworks not being code signed and had to make sure to set my developer identity for each of the targets in the Pods project (one of which is the newly-frameworked MIKMIDI).  Thanks for the help!

[2015-04-30 02:00] armadsen commented on #80
Glad to hear it!

[2015-04-30 02:00] #80 closed

[2015-05-01 14:45] cflesner opened #81 "It would be nice to be able to directly set the tempo of MIKMIDISequencer playback"
Currently, the only way to influence the tempo of MIKMIDISequencer playback is by adding or removing tempo events from its sequence's tempo track.

It would be nice if the sequencer's playback tempo could be set to any arbitrary tempo at any time.

[2015-05-01 14:50] armadsen commented on #81
+1

[2015-05-01 15:02] #81 closed

[2015-05-07 18:39] armadsen opened #82 "NS/UIApplication's MIDI responder search code is slow."

[2015-05-07 18:40] #82 closed

[2015-05-13 19:07] cflesner opened #83 "Setting the note in an MIKMutableMIDINoteEvent doesn't work."
-[MIKMutableMIDINoteEvent setNote:] sets the channel instead.

[2015-05-13 19:10] armadsen commented on #83
Nice catch.

[2015-05-13 19:16] #83 closed

[2015-05-14 19:36] armadsen opened #84 "MIKMIDIMappingGenerator should have a way to explicitly end mapping and tell it to disconnect."
Right now, disconnection from its device is only done on dealloc. This makes it difficult for client code to guarantee that mapping has stopped and that a mapping generator is no longer receiving messages -- and potentially modifying an in-use mapping.

[2015-05-14 19:37] #84 closed

[2015-05-20 20:21] armadsen commented on #7
MIDI object property change notifications are already received (and ignored) by `-[MIKMIDIDeviceManager handleMIDIObjectPropertyChangeNotification]`. I'm not sure if it's possible to receive these notifications by means other than creating a MIDIClient. If not, some refactoring may be necessary. Issue #8 could help with this.

This change would also have the side effect of improving performance of

[2015-05-21 18:44] cflesner opened #85 "There should be a way to tell when MIKMIDISequencer is going to loop playback."
When synchronizing other things with the playback of an MIKMIDISequencer instance, it would be nice to know when playback is about to be looped.

[2015-05-21 18:56] cflesner opened #86 "MIKMIDIClock should provide a mechanism for having a synced clock"
Sometimes you may want to use a clock that is synced to a master MIDI clock, without worrying about it's tempo and timing information being inadvertently set.

[2015-05-21 18:57] cflesner opened #87 "MIKMIDIClock should have a tempo property"
MIKMIDIClock gets its tempo set in -setMusicTimeStamp:withTempo:atMIDITimeStamp:, but that tempo is not accessible later.

[2015-05-21 18:59] cflesner opened #88 "MIKMIDIClock should provide correct historical tempo and timing information"
Currently, calling -setMusicTimeStamp:withTempo:atMIDITimeStamp: will wipe out the old tempo and timing information, so calls to -musicTimeStampForMIDITimeStamp: and -midiTimeStampForMusicTimeStamp: for older time stamps will not return correct values.

[2015-05-21 19:04] cflesner commented on #85
MIKMIDISequencer now sends out a notification (MIKMIDISequencerWillLoopNotification) prior to looping playback as of 413876ba2b3cb0e3d270d2da9bf6d4f3bba5fe8d

[2015-05-21 19:04] #85 closed

[2015-05-21 19:05] cflesner commented on #86
Added -syncedClock in 413876ba2b3cb0e3d270d2da9bf6d4f3bba5fe8d

[2015-05-21 19:05] #86 closed

[2015-05-21 19:06] cflesner commented on #87
Added in 413876ba2b3cb0e3d270d2da9bf6d4f3bba5fe8d

[2015-05-21 19:06] #87 closed

[2015-05-21 19:10] cflesner commented on #88
This issue is resolved with 22fb0e49be99621a760d3ba77a378d4ec837cc48

-tempoForMIDITimeStamp: and -tempoForMusicTimeStamp: were added to retrieve historical tempo information.

Currently, historical information older than 1 second when calling -setMusicTimeStamp:withTempo:atMIDITimeStamp: is pruned, so future calls to the mentioned methods still need to ask about time stamps newer than 1 second pr

[2015-05-21 19:10] #88 closed

[2015-05-22 20:20] cflesner opened #89 "It would be handy if there was a public way to keep track of what MIDITimeStamp MIKMIDISequencer has scheduled events up to."
MIKMIDISequencer currently has a lastProcessedMIDITimeStamp property, but it isn't public, and could probably use a better name.

This information would useful when trying to sync other things with the sequencer's MIDI playback.

[2015-05-22 20:22] cflesner commented on #89
Changed the property to latestScheduledMIDITimeStamp and made it public (readonly) in d04c79dd58af655c3d82462df50cb7c2676e5b6f

[2015-05-22 20:22] #89 closed

[2015-05-22 22:06] cflesner opened #90 "It would be nice to be able to override the play length in MIKMIDISequencer without altering the sequence itself."
Right now, the only way to change the playback duration of MIKMIDISequencer is to alter it's sequence's length property.

Sometimes it would be nice to be able to change the playback duration without changing the underlying sequence itself.

[2015-06-04 21:48] #90 closed

[2015-06-04 21:50] cflesner opened #91 "The currentTimeStamp property of MIKMIDISequencer doesn't always work right"
The currentTimeStamp property of MIKMIDISequencer doesn't always return the correct value, especially after stopping playback.

Also setting the currentTimeStamp during playback doesn't play from the correct spot.

[2015-06-04 22:04] cflesner commented on #91
Fixed in ee0af417650782893ebdf39d4483f44dcbb1e62f and ee0af417650782893ebdf39d4483f44dcbb1e62f

[2015-06-04 22:04] #91 closed

[2015-06-08 21:05] cflesner opened #92 "MIKMIDISequencer drops notes when the main queue gets busy"
MIKMIDISequencer struggles to keep processing notes in time when the main queue is busy.

[2015-06-08 21:21] armadsen commented on #92
I kind of thought we had an issue for this already. I guess not. Anyway, we definitely should make MIKMIDISequencer do its processing in a dedicated background queue/thread.

[2015-06-09 14:21] cflesner opened #93 "MIKMIDIClock should be thread safe"
A single MIKMIDIClock instance has the potential to be used across multiple threads (main, CoreAudio, MIKMIDISequencer's processingQueue, etc.) that are all interested in the same tempo and timing information, and should probably be thread safe.

[2015-06-10 14:44] cflesner opened #94 "It would be nice if -[MIKMIDISequencer sendCommands:toDestinationEndpoint:] was overridable."
It would be nice if -[MIKMIDISequencer sendCommands:toDestinationEndpoint:] was overridable so subclasses could be free to alter the MIDI commands in any way they see fit before actually sending them off to the endpoints.

[2015-06-10 14:51] cflesner commented on #94
Or even better yet, add a new method that allows a subclass to modify the commands before they get sent out, that way the -sendCommands:toDestinationEndpoint: doesn't actually have to be made public.

[2015-06-10 15:04] #94 closed

[2015-06-10 15:04] #93 closed

[2015-06-10 18:32] cflesner opened #95 "MIKMIDISequencer sometimes skips the first events in a sequence when starting playback"
When starting playback from a MusicTimeStamp that is greater than 0, MIKMIDISequencer skips any events that have that time stamp.

[2015-06-10 18:32] #95 closed

[2015-06-11 13:10] cflesner opened #96 "MIKMIDISequencer's isLooping property is often NO when it should be YES"
The looping property is frequently being incorrectly set to NO.

[2015-06-11 17:46] #96 closed

[2015-06-11 20:26] armadsen opened #97 "MIKMIDMappingItem (and maybe MIKMIDIMapping) should be immutable with mutable variants"
The main impediment is that I'm not sure how to do this without breaking backwards compatibility.

[2015-06-12 13:55] #79 closed

[2015-06-25 08:18] rrc2soft opened #98 "MIKMutableMIDIMetaTimeSignatureEvent crashes upon initialization (MIKMIDISequence)"
Calling [SEQ setTimeSignature: ANY atTimeStamp: ANY2], where SEQ is an instance of the class MIKMIDISequence, and ANY/ANY2 can be any valid value, will crash the app on iOS simulator with target iOS 8.3.

I found the problem in this particular code:

1:  MIKMutableMIDIMetaTimeSignatureEvent *event = [[MIKMutableMIDIMetaTimeSignatureEvent alloc] init];
2:    event.timeStamp = 0;
3:    event.numerat

[2015-06-30 18:57] cflesner opened #99 "MIKMIDISequencer should respect the offset, muted, and solo properties of MIKMIDITrack."
MIKMIDISequencer should respect the offset, muted, and solo properties of MIKMIDITrack. They are currently ignored entirely.

[2015-06-30 20:33] cflesner opened #100 "CRASH: MIKMIDIEventIterator can crash with EXC_BAD_ACCESS during MIKMIDISequencer playback"
Setting a MIKMIDISequencer instance's sequence during playback can sometimes result in a crash in MIKMIDIEventIterator.

[code]

At this point, creating a new iterator in LLDB and attempting a seek has the same failure.

[code]

So far, **I've** only encoutered this in tracks that have 0 events. So for now, I'm going to attempt to workaround the issue in -[MIKMIDITrack private_eventsOfClass:fromTi

[2015-07-06 03:38] armadsen commented on #98
Thanks for reporting this. Upon investigation, it's the same bug as Issue #57, which is fixed in the 1.1 branch. The fix consisted of more than a simple sanity check. Because we're hoping to merge 1.1 into master soon for release, I'm going to leave this be for now. Please use the 1.1 branch (which has quite a number of other improvements and fixes) in the meantime. Thanks again!

[2015-07-06 03:38] #98 closed

[2015-07-06 03:41] armadsen commented on #92
@cflesner is this fixed now?

[2015-07-06 03:42] armadsen commented on #97
Doing this the right way will be easiest if we can introduce some breaking API changes, so I'm going to leave it until 2.0.

[2015-07-06 03:44] armadsen commented on #74
Assuming recording is going to continue be "experimental" in 1.1, this probably doesn't need to hold up its release, but perhaps we should at least put a warning in the documentation for now.

[2015-08-11 10:10] angel77777 opened #101 "Unable to get MIDI device unique ID"
we are observing KVO virtualDestinations jn MIKMIDIDeviceManager.
When we run the app on iPad, if we launch a new midi app we don't receive any notification from deviceManager.

If we close a midi app we receive the following errors:

2015-08-11 11:59:02.138 midi test[2837:1521639] Unable to get object type of 11558946: Error Domain=NSOSStatusErrorDomain Code=-50 "The operation couldn’t be complet

[2015-08-11 15:49] armadsen commented on #101
Hi angel77777,

The errors being logged are (presumably) harmless. They happen when trying to retrieve the MIDI device uniqueID (or any other property) from an MIKMIDIObject instance whose underlying CoreMIDI object has been removed (e.g. device unplugged, virtual destination deleted). We should probably do something to avoid logging the errors in that case, because its disconcerting.

As for the

[2015-09-01 20:41] armadsen opened #102 "Add ability to suspend/resume mapping generation"
It would be nice to be able to temporarily suspend mapping generation, then later resume it without losing your place. The scenario where this makes sense for us right now is that we want to give users the ability to try out their mapping-so-far without finishing the complete mapping.

[2015-09-01 20:47] #102 closed

[2015-09-09 01:40] armadsen commented on #36
@cflesner: What's left to be done on this? There's a lot of Objective-C in `MIKMIDISynthesizer`'s render callback which worries me...

[2015-09-09 01:41] armadsen commented on #41
I'm going to postpone this for 1.2 now. It's not really critical for now.

[2015-09-09 01:42] armadsen commented on #92
@cflesner do you remember if anything still needs to be done here?

[2015-09-11 18:45] #92 closed

[2015-09-11 18:46] cflesner commented on #92
I don't think anything else needs to be done. I didn't immediately close the ticket just in case any related bugs popped up, but it's been a while, and it all seems to be working well.

[2015-09-11 20:58] cflesner commented on #36
I've replaced the Obj-C with CoreFoundation. I never actually encountered any problems with the render callbacks taking too long as it was, but either way they should be much improved now.

[2015-09-11 20:58] #36 closed

[2015-09-11 21:05] armadsen commented on #36
Nice! That's exactly the solution that came to mind for me too.

(For future reference, the switch to CoreFoundation was in: https://github.com/mixedinkey-opensource/MIKMIDI/commit/c0d1ad2d243d5288d6cabe70a252c1a92c6fa227)

[2015-10-19 01:51] rknLA opened #104 "MIKMutableMIDIChannelVoiceCommand initializer doesn't heed `forCommandType`"
For example, creating a new pitch bend like so:

[code]

actually creates a `PolyphonicKeyPressure` command, requiring me to set the command type explicitly.

Incidentally, setting the command type explicitly also didn't work, but that was easily-enough solved with #103

[2015-10-19 01:52] armadsen commented on #104
Thanks for reporting this. Will check it out and get it fixed when I get to #103 (probably tomorrow).

[2015-10-20 02:49] armadsen commented on #104
This is covered by #65, and was already fixed by 2706b25a. That commit hasn't yet been merged into master, but you can get it (along with a _lot_ of other fixes and improvements) by switching to the 1.1 branch. We're working to get 1.1 finished up and released for real soon.

[2015-10-20 02:49] #104 closed

[2015-10-30 13:49] johndpope opened #105 "I'm seeing an issue with audio toolbox + el captian."
Did you encounter something similar?
It doesn't happen on Yosemite. I thought it would resolve itself with os updates - but no such luck.
May need to log a radar.

![screen shot 2015-10-31 at 12 47 06 am](https://cloud.githubusercontent.com/assets/289994/10847201/f786fce2-7f68-11e5-9365-d263fd06a22d.png)

[2015-10-30 13:54] johndpope opened #106 "Extend management class to allow saving / restoring devices"
I acknowledge your efforts with this library which is amazing -
but without a boiler plate connect manager class like this
https://github.com/zakk4223/CocoaSplit/blob/master/CocoaSplit/CSMidiWrapper.h
there's a degree of unnecessary difficulty in storing / saving preferences.

The vvmidid open source library had a plist of preferred / enabled devices. vvmanager.
load settings which gives quite a b

[2015-10-30 16:38] armadsen commented on #105
Hi John, I haven't seen this. I assume this is on El Capitan. Are you able to provide sample code that exposes this? It may not be a bug in MIKMIDI, rather Apple's bug, but it'd be nice to verify that.

[2015-10-30 16:40] armadsen commented on #106
Hi John,

I like this idea. In the Mixed In Key apps that use MIKMIDI, we have such a class, but it's part of the application code, not something in MIKMIDI. I can certainly see the value in MIKMIDI providing a generic, nicely reusable connection manager class. I'm not sure when I'll be able to implement this, but a pull request would certainly be welcome :).

[2015-10-31 00:40] johndpope commented on #105
Thanks for offering to help - I'm pleased to have isolated problem (after months of head scratching)
This bug for is occurring when I loop the track (in el capitan). I have several dozens tracks.

            if (self.enableLooping) {
                    //loop track
                    MusicTrackLoopInfo loopInfo = { trackLen, 0 };
                    MusicTrackSetProperty(t, kSequenceTrackProper

[2015-10-31 00:40] #105 closed

[2015-11-02 12:52] johndpope opened #107 "clarification on usage for creating midi notes / MIKMIDINoteOnCommand vs MIKMutableMIDINoteEvent"
I've probably missed something - but is there a simple way to to send a note on message ?

// I want to play middle c for 10 seconds. (without a midi track sequence / events)

    MIDINoteMessage message = { .channel = 0, .note = 60, .velocity = 100, 0, 0 };
    message.duration = 10;

    MIKMIDINoteOnCommand *noteOnEvent = [MIKMIDINoteOnCommand noteOnCommandWithNote:note velocity:100 channel:0 t

[2015-11-03 17:22] armadsen commented on #107
Hi John,

The code in your question is somewhat confusing to me. One important thing to note is that `-[MIKMIDIDeviceManager sendCommands:toEndpoint:error:] takes an array of `MIKMIDICommand` instances, _not_ `MIKMIDIEvent` instances. I think that's the cause of your problem here. The code at the top, where you create a `MIKMIDINoteOnCommand` and a `MIKMIDINoteOffCommand` looks fine to me. You sho

[2015-11-04 15:51] armadsen commented on #107
@johndpope, did this help?

[2015-11-04 15:52] armadsen opened #108 "Add Objective-C generics annotations to collection properties."

[2015-11-04 18:28] armadsen opened #109 "Improve MIKMIDIInputPort API"
Note that this is not a public facing API, but will have implications for improvements to public facing API in MIKMIDIDeviceManager.

In particular, right now, both `MIKMIDIInputPort` _and_ `MIKMIDIDeviceManager` have logic for handling multiple connected sources. Effort there is duplicated and wasted. This is primarily because MIKMIDIInputPort's API has no provision for per-source event handlers.

[2015-11-04 22:38] armadsen commented on #106
Turns out this matches up well with something I'm working in one of our apps today, so I'm going to give it a shot.

[2015-11-04 22:42] johndpope commented on #107
Hi Andrew, yes - the clarification that MIKMIDIEvents are for reading/creating MIDI files makes total sense.  I'm still in an enquiry of how to bypass this flow of creating a midi sequence - and sending a midi note ad hoc in real time.

I would love an interface in MIKMidi like this -
https://github.com/davebv/Music-Controller/blob/31c97b092f8751aa477c3d13b6a697a7ee2ae841/midi/MidiEventOutput.m

I

[2015-11-04 23:23] johndpope commented on #106
Awesome Andrew. Happy to test it out.
Something you may want to consider - the value in this for me - is storing the preference around whether  the user has enabled  / disabled an input / output device.

[2015-11-04 23:42] armadsen commented on #106
Yep, that's part of what we need too.

Sent from my iPhone

[2015-11-05 19:13] armadsen opened #112 "KVO notifications for MIKMIDIDeviceManager's availableDevices property should include valid NSKeyValueChangeOld/NewKey entries."

[2015-11-05 22:33] armadsen commented on #112
Fixed by #113.

[2015-11-05 22:33] #112 closed

[2015-11-10 16:32] armadsen commented on #52
Reopening because I'd like to add real (NSError) error handling to these.

[2015-11-10 17:23] armadsen opened #114 "Consider using a delegate instead of a subclass of MIKMIDIMappingManager for customization"
Instead of requiring subclassing to customize the names MIKMIDIMappingManager uses, a delegate likely makes more sense. See MIKMIDIMappingManager_SubclassMethods.h.

[2015-11-11 17:06] armadsen commented on #108
This should be complete now.

[2015-11-11 17:06] #108 closed

[2015-11-11 17:06] armadsen commented on #39
This should be complete now.

[2015-11-11 17:06] #39 closed

[2015-11-11 17:07] armadsen commented on #109
I'm happy with this at this point. The enhancements made here were used to simplify and improve MIKMIDIDeviceManager and indirectly to ease implementation of MIKMIDIConnectionManager (#106).

[2015-11-11 17:07] #109 closed

[2015-11-11 17:13] armadsen commented on #101
I haven't heard back on this, so closing for now.

[2015-11-11 17:13] #101 closed

[2015-11-11 17:53] armadsen commented on #107
Hi John,

Getting back to this, I think I'm still a bit confused about the issue here. I think you should be fine doing:

[code]

Just for fun, I created a couple super simple (OS X) sample apps to show this off. You can find them here: https://www.dropbox.com/s/af0i0c1f56fdfcv/SendNotes.zip?dl=0

SimpleVirtualSynth creates a virtual destination endpoint hooked up to a synthesizer. It's two lines

[2015-11-11 20:05] armadsen commented on #54
I never heard back on this, so I'm closing it for now. If @grav responds with more info, I'll reopen.

[2015-11-11 20:05] #54 closed

[2015-11-11 21:22] armadsen commented on #106
See pull request #115.

[2015-11-12 20:27] armadsen commented on #100
This seems to be effectively prevented by the workaround in cb30667. Closing for now.

[2015-11-12 20:27] #100 closed

[2015-11-12 21:29] armadsen commented on #114
Internally, the two methods that were in MIKMIDIMappingManager_SubclassMethods are still being used, so this change shouldn't break existing code.

[2015-11-12 21:29] #114 closed

[2015-11-12 23:07] #65 closed

[2015-11-12 23:09] armadsen commented on #99
@cflesner: Are you OK with postponing this until the next major release?

[2015-11-12 23:09] armadsen commented on #37
@cflesner: What do you think about postponing part or all of this until the next release?

[2015-11-12 23:11] armadsen opened #116 "Setup Travis for CI"

[2015-11-13 02:04] armadsen commented on #116
This is working. All pushes to MIKMIDI are now built and the tests are run. Builds are done for both iOS and OS X, however right now, the tests are only run for OS X.

[2015-11-13 02:04] #116 closed

[2015-11-13 16:16] armadsen commented on #99
Postponing for now.

[2015-11-13 16:57] armadsen commented on #37
Postponing this until a later release.

[2015-11-14 13:12] #107 closed

[2015-11-14 13:12] #106 closed

[2015-11-16 03:44] armadsen opened #118 "KVO notifications for MIKMIDISequence's tracks property have incorrect change dictionaries"
This is caused by the same thing as #112.

[2015-11-16 03:52] #118 closed

[2015-11-26 23:57] rednebmas opened #119 "iOS example does not compile - 'MIKMIDI/MIKMIDI.h' file not found"
The error I'm seeing is:

`"/[my directory structure]/MIKMIDI/Source/MIKMIDIChannelPressureCommand.h:9:9: 'MIKMIDI/MIKMIDI.h' file not found`

[2015-11-27 20:38] armadsen commented on #119
Thanks for reporting this, @rednebmas. The iOS example has been a bit neglected lately (I've been working on a new iOS example app, in fact). I'll get this checked out when I can (probably after the weekend) and will get it fixed.

[2015-11-28 17:19] alejandroluengo opened #120 "When you add devices and app is active it's not refreshed by MIKMIDI"
Hi there

I noticed the following situation when app it's running:

If I double press home button and close a virtual synth if I call [[MIKMIDIDeviceManager sharedDeviceManager] virtualDestinations] the device it's removed from MIKMIDI (great!) but if I double press home and open a new synth when I call [[MIKMIDIDeviceManager sharedDeviceManager] virtualDestinations] the new synth it's not retriev

[2015-11-28 17:23] armadsen commented on #120
Thanks for the report, @alejandroluengo. When you say "virtual synth" I presume you mean virtual endpoint (ie. `MIKMIDIClientDestinationEndpoint`)? I'm not sure I fully understand the issue. Is there any chance you can provide a sample project that exposes this issue? You can email it to me privately at andrew@mixedinkey.com if need be.

[2015-11-28 20:56] alejandroluengo commented on #120
Thanks for the help, I will write you to your email now

[2015-11-28 21:27] armadsen commented on #120
Alejandro sent me a video that clarified this for me. The problem is that when he quits (by swiping up in the multitasking UI) an external synthesizer app, the virtual destination endpoint it presents is (correctly) removed from the array returned by `MIKMIDIDeviceManager`'s `virtualDestinations` property. However, when he *launches* a synthesizer app while his (MIKMIDI-based) app is already runni

[2015-11-28 22:44] alejandroluengo commented on #120
He send me a quick workaround and now it's working. He told me that he will fix it soon. Thanks for that @armadsen

[2015-12-10 22:40] akmidd commented on #120
Hi, I have the same problem. Can you tell me what is the workaround for this?

[2015-12-10 22:42] armadsen commented on #120
Hi @akmidd: The workaround I provided to @alejandroluengo was:

At the top of your source file create a category to trick the compiler into letting you call a private method:

[code]

Then, before you call `-virtualDestinations` to get the virtual destinations:

[code]

I do still intend to fix this for real, of course.

[2015-12-10 22:49] akmidd commented on #120
I use MIKMIDIDeviceManager from swift code. How can I do it then?

[2015-12-10 22:55] akmidd commented on #120
Thanks. It works now.

[2015-12-10 22:58] armadsen commented on #120
You could just do `deviceManager.performSelector("retrieveVirtualEndpoints")` in Swift. It's a little gross, but this should only be a temporary workaround until this bug is fixed.

[2015-12-17 18:30] ClayApps opened #121 "Xcode “iPhone Simulator” not showing up in Audio Midi Setup -> Midi Network Setup"
I'm noting this here for the next person. After a long battle trying to get "iPhone Simulator" working with MIKMIDI, filing a radar with Apple and finally getting somewhere with the help of a nice chap on stack overflow.

If you include MIKMIDI via the cocoa pod option you can NOT use the "iPhone Simulator". If you include the MIKMIDI source files (I had to hack the latest version around somewhat)

[2015-12-17 18:32] armadsen commented on #121
Thanks for reporting this. I don't use CocoaPods myself, and haven't seen this issue, but I'll check it out.

I'm curious to know if you've tried [using MIKMIDI.framework via a subproject](https://github.com/mixedinkey-opensource/MIKMIDI/wiki/Installing-MIKMIDI#using-an-xcode-subproject)? That's how we use it at Mixed In Key, and how I recommend installing it in general.

[2015-12-17 19:04] ClayApps opened #122 "Midi receive message chunking"
I'm not sure you will or should do anything about this. Note i'm a bit of a newbie to Midi.

I send the following SysEx cmd to a Roland D50 "F0 41 00 14 11 00 00 00 00 03 25 58 F7" ... current patch memory please.

I then receive two messages back, yah perfect!
Cmd Type [0xf0] Data len [266] [F0 41 00 14 12 00 00 .... 68 F7]
Cmd Type [0xf0] Data len [175] [F0 41 00 14 12 00 00 .... 6A F7]

I am de

[2015-12-17 20:12] armadsen commented on #122
Thanks for reporting this as well. I'd consider this an MIKMIDI bug, or if not an MIKMIDI bug at the very least a quirk of CoreMIDI that we should improve upon. I think it makes sense for MIKMIDI to buffer and coalesce incoming data if the first byte indicates that it's a SysEx but it doesn't see the EOM terminator in that message.

I'm not in a good position to work on this anytime soon, but a pu

[2015-12-18 18:23] ClayApps commented on #122
I agree. I have sitting here pondering my shitty code used to partly deal with this situation ... its a horror.

The problem is your code is somewhat above my pay grade. But now that I have my "iPhone Simulator" back I'll give it a crack. So sit back and wait for some shitty code coming your way real soon now!

[2015-12-18 19:11] ClayApps commented on #121
Finally all sorted out. Apple got back to me after initially blowing me off.

1) "iPhone Simulator" disappears with more than one CoreMidi.framwork is include. To fix find and remove the duplicates

2) "iPhone Simulator" disappears when MIKMIDI cocoa pod is used. Here i could find a fix but using a subproject will fix this.

Apple response below. This works in **ALL** situations I have encountered

[2015-12-18 19:11] #121 closed

[2015-12-19 19:46] armadsen commented on #122
Hi Clay,

Don't worry about your code. I'm happy to take a look at what you come up with and provide feedback and iterate with you.

There's already support for coalescing two message into a single one for 14-bit control change messages. See `-commandsByCoalescingCommands:` and related code in `MIKMIDIInputPort`. I think that code could be generalized just a little bit then extended to coalesce mu

[2016-01-06 12:23] archagon commented on #76
Hey, did you guys ever solve this problem? The code for `availableInstruments` looks like it still does the same thing, and it seems you still use AUMIDISynth.

[2016-01-06 12:34] archagon commented on #76
So, did you guys ever figure out a fix for this issue? Looking at the code, it seems you still use `kAudioUnitSubType_MIDISynth` on iOS with the same code in `availableInstruments` as before. Does it just not work on iOS, then?

[2016-01-06 16:07] armadsen commented on #76
Hi @archagon, I'm afraid we've made no progress on this. Our own use of MIKMIDI on iOS (vs. OS X) is fairly limited, which has made it a lower priority for us. However, that may change in the future, and it's something that we will likely dig into more at some point this year. That said, if you (or someone else) are able to come up with a good solution, we'd love to hear about it (or get a pull re

[2016-01-06 23:46] archagon commented on #76
Playing around with it some more today, it seems that the patch change message (`0xC`) works correctly (um, most of the time) in the Simulator, but not on the device itself. @danielbreves, were you able to get program change messages working? I feel like I'm going crazy!

[2016-01-07 00:17] danielbreves commented on #76
@archagon so far I've only needed to use the default preset on my soundfont, sorry :/ I'll let you know once I get around trying this.

[2016-01-11 20:50] archagon commented on #76
OK, I got it to work after a tip from the coreaudio-api mailing list. ([Here's the thread](http://lists.apple.com/archives/coreaudio-api/2016/Jan/msg00015.html).) You have to enable the `kAUMIDISynthProperty_EnablePreload` property, send your program change, disable the property, and then send the change again.

[2016-01-11 21:11] armadsen commented on #76
That's weird an unexpected, but I'm glad you figured it out, and thanks so much for sharing the solution you found!

[2016-01-19 17:57] armadsen opened #123 "MIDI Soundboard example does not build"
MIKMIDI is included as source in this project, but now essentially expects to be built as a framework. Either MIKMIDI source #imports need to be changed to support building as plain source in other projects, or MIDI Soundboard needs to be updated to use the framework (or both).

[2016-01-30 17:52] benspratling4 opened #124 "meta text events should support other string encodings"
Currently, meta text events assume text is uff-8 encoded, which is not always the case.
Sometimes it's a difference of endianness, sometimes it's a windows encoding.
I've found it useful to concatenate all meta text events in the entire file and let NSString .stringEncodingForData... do it's thing.
(Disclaimer, one of these files is in a language I don't understand, I just found it on a .midi file

[2016-01-30 19:08] armadsen commented on #124
Hi Ben,

Thanks for reporting this. I'm happy to accept a pull request if you're interested in working on it yourself. If not, I'll take a look at it when I can.

[2016-01-30 19:35] akmidd opened #125 "Channel Pressure and Program change commands have incorrect packet size"
These commands should have packet size of 2 but they have the size of 3;

I guess the problem is in the MIKMIDICommand class constructor - (id)initWithMIDIPacket:(MIDIPacket *)packet

self.internalData = [NSMutableData dataWithLength:3];

I changed initial length to 2 and it seems to fix the problem.

[2016-01-30 19:43] akmidd commented on #125
So would it be a correct fix to change this dataWithLength from 3 to 2?

[2016-01-30 19:45] akmidd commented on #125
I guess there could be commands with packet size of 1

[2016-01-31 00:38] armadsen commented on #125
Can you tell me what problem this is actually causing for you?

If this actually needs to be fixed, a proper fix would include allowing `MIKMIDICommand` subclasses to somehow specify/customize the default length of their internal data.

[2016-01-31 01:03] ClayApps opened #126 "Creating a virtual midi endpoint"
Is it possible to create a virtual midi endpoint via MIKMIdi, it doesn't seem to be supported?

Looks like I may need to do this week so perhaps I should try and add it to MIKMidi?

[2016-01-31 01:17] armadsen commented on #126
It is already possible. See [`MIKMIDIClientDestinationEndpoint`](https://github.com/mixedinkey-opensource/MIKMIDI/blob/master/Source/MIKMIDIClientDestinationEndpoint.h) and [`MIKMIDIClientSourceEndpoint`](https://github.com/mixedinkey-opensource/MIKMIDI/blob/master/Source/MIKMIDIClientSourceEndpoint.h).

If this doesn't cover the functionality you need, let me know.

[2016-01-31 01:23] ClayApps commented on #126
Perfect!

[2016-01-31 18:36] akmidd commented on #125
When I send channel pressure commands  from my app to Animoog app, Animoog stops to produce any sound and it's virtual keyboard freezes.

[2016-01-31 18:56] akmidd commented on #125
Then I logged midi traffic using MIDI Monitor app and saw that along the normal channel pressure commands there are commands that marked as invalid.

[2016-01-31 23:38] kerrgrant commented on #119
Hi,

I'm using this for the first time (installing via CocoaPods) targeting iOS and am also having a bit of trouble getting it to compile (it may well be the same issue). My project is Swift-based and so i've setup the necessary bridge header file in order to interface with the library (as it's Objective-C based). I'm able to link and compile other Objective-C based pods to the project and also ra

[2016-02-01 20:37] armadsen commented on #119
@kerrgrant, haven't yet had a chance to look at this, but I'll be working seriously on an iOS project that uses MIKMIDI this week myself, and will be sure to verify that everything is working right in this regard.

[2016-02-02 10:09] kerrgrant commented on #119
Great stuff, thanks for getting back!

[2016-02-09 21:04] ClayApps commented on #122
Hi Andrew,

So I've had my hack attack running now for a while now without issue and came across another NOOP bug, well as long as Apple doesn't change the behaviour of core midi, the creatures.

The code as it currently stands assumes a midi packet contains at least one valid midi message. Apple vaguely enforces this by never sending less than 3 bytes packets. In the end it turned out to be prett

[2016-02-09 22:57] ClayApps commented on #126
I have a test Midi Monitor App on an iPad that creates both source and detination endpoint.
Both deviceManager.virtualSources and deviceManager.virtualDestination do return these end points as I expected but they are not source endpoints there I can't install a message handler.

If I create client endpoints then everything works more or less as expected.

I fished around in some old code of yours:

[2016-02-09 22:59] ClayApps commented on #121
For completness and posterity, this is most correct:
`    [MIDINetworkSession defaultSession].enabled = YES;
    [MIDINetworkSession defaultSession].connectionPolicy = MIDINetworkConnectionPolicy_Anyone;
`

[2016-02-09 23:02] armadsen commented on #126
The terminology here is slightly confusing. MIKMIDISourceEndpoint is an endpoint (provided by a device/app external to yours) from which you can _receive_ MIDI, while MIKMIDIDestinationEndpoint represents and endpoint to which you can _send_ MIDI.

For MIKMIDIClient*Endpoint, the situation is reversed. MIKMIDIClientDestinationEndpoint is an endpoint from which you can _receive_ MIDI (ie. install a

[2016-02-10 18:34] ClayApps commented on #126
Got it, I did need to create a device for my Virtual (non-client) Endpoint such that I can attach an event handler. All is well, many thanks.

[2016-02-10 18:34] #126 closed

[2016-02-15 23:13] armadsen opened #127 "Rewrite example apps to take advantage of MIKMIDIConnectionManager"

[2016-02-16 21:18] ClayApps opened #128 "Swift MIKMIDIClientDestinationEndpoint receivedMessagesHandler"
Hi Andrew,

I'm been knocking up a swift test harness for virtual end points. Creating the endpoints and sending commands worked first time, very nice.

But then I struggled to get a func defined to match the specification for receivedMessagesHandler. The following was what I came up with after a bit of struggle and has no errors/warnings but is it not working, any ideas?

Thanks
Clay

[code]

[co

[2016-02-17 01:50] ClayApps commented on #128
Because I am always suspicious of me first I modified the first code block thusly:

[code]

And the following line work as expected:

[code]

[2016-02-17 17:40] armadsen commented on #128
Your `receiveMessagesHandler()` function is a bit strange in that you have a function that returns another function, which isn't really necessary. I'd just do this:

[code]

Then you can pass it in to the initializer for `MIKMIDIClientDestinationEndpoint` like so:

[code]

[2016-02-17 20:41] ClayApps commented on #122
Sorted out my Github issue.

All your code assumes it has enough bytes for at least one message, hence the route I took.

If you have some pointers or a preferred approach I'd be happy to have another crack at it.

[2016-02-17 23:16] ClayApps commented on #128
That's much better thanks. Still isn't working (not receiving), ObjC too oddly, so that's what I am trying to sort out now.

[2016-02-17 23:16] #128 closed

[2016-02-17 23:18] armadsen commented on #128
Feel free to reopen if you can't get it working. Also happy to look at a sample project showing the problem if you email it to me.

[2016-02-17 23:30] ClayApps commented on #128
You are too kind, but let mess around with for a while. Im going to take a look at MIKMIDIConnectionManager while i’m at it

[2016-02-18 22:35] ClayApps commented on #128
Hey Andrew,

I’m stumped, so can I send you my project? It via this thread OK of would you like me to use another email address?

Cheers
Clay

[2016-02-18 23:28] armadsen commented on #128
Sure. This thread is fine. So is andrew@mixedinkey.com

Sent from my iPhone

[2016-02-24 21:55] cflesner commented on #74
The metronome should play throughout the entire recording by default, and is determined by the clickTrackStatus property.

The other issues are definitely bugs.

[2016-02-24 22:02] armadsen commented on #74
This issue doesn't fully describe what I'm seeing today. If I do the following:

[code]

I hear a cacophony of noise, and interestingly, it continues after calling `stop()`

[2016-02-27 00:02] armadsen opened #131 "MIKMIDIMappingManager doesn't save or import mappings on iOS."
Now that #2 is implemented, this _may_ be as simple as removing the #ifs disabling this functionality on iOS.

[2016-02-28 21:21] ClayApps commented on #128
I finally got all this sorted out and now working via a background task for as long as Apple allows.

[2016-03-01 09:57] mustafamurabbi2202 opened #132 "MIDI note issue"
I am using this library to build a MusicApp.I am experiencing a problem that I am playing MIDI notes by loading sound font file for CMP_Grand_Piano but when I hit a piano key it produces sound but its regardless of octave notes means always producing same note sound(also printed out the command and giving even proper corresponding note value), either we play C or F# (for example),but when I load o

[2016-03-01 23:27] armadsen commented on #132
This sounds like a problem with the SoundFont file itself. MIKMIDI itself doesn't do anything special with SoundFont files. Fundamentally, they are simply loaded into to the AUSampler (on iOS) or DLS Synth (on OS X) audio unit provided by Core Audio. Does the sound font in question work in other MIDI software?

[2016-03-02 17:36] armadsen opened #133 "Allow creating MIKMIDITrack independently of MIKMIDISequence"
I'm not sure how feasible this is, but I think it would be nice to be able to do `let track = MIKMIDITrack()` and get a track that works standalone, but can be added to a sequence later.

[2016-03-02 18:31] armadsen opened #134 "Add error-returning variant of `-[MIKMIDISequence addTrack:]`"

[2016-03-03 09:11] agenthunt opened #135 "Unable to get any audio from MIKMIDISynthesizer"
Hi,
I am new to MIKMIDI and trying out the synthesizer to play a simple note, however I am not able to get any audio from it. This is the code that I am using.

[code]

Please let me know if I am missing something.

Thanks in Advance.

[2016-03-03 13:45] armadsen commented on #135
Is this on iOS or OS X?

[2016-03-03 16:18] agenthunt commented on #135
Actually tried on both iOS and OS X.

[2016-03-03 16:56] armadsen commented on #135
My guess is that the problem is that you're not keeping a strong reference to the `MIKMIDISynthesizer`, so it is released/deallocated immediately after the call to `-handleMIDIMessges`, before it has a chance to play any sound.

Here's a very simple OS X project that fixes this problem and works fine: [SynthTest.zip](https://github.com/mixedinkey-opensource/MIKMIDI/files/157236/SynthTest.zip)

The

[2016-03-03 18:12] agenthunt commented on #135
Thanks a lot @armadsen . That works!!!

[2016-03-03 18:22] armadsen commented on #135
Glad to hear it!

[2016-03-03 18:22] #135 closed

[2016-03-03 21:30] armadsen commented on #45
I hit into an issue related to this change today:

- Create an MIKMIDISequencer
- Add a track to its sequence with 20 notes, one on each beat.
- Set the sequence length to 16.
- Start recording
- When the 17th beat is played (at timestamp 16), rapid clicking is heard.

During recording, the sequencer continues processing without stopping when it hits the end of its sequence's length. The issue is

[2016-03-08 20:15] armadsen commented on #77
I don't think this is important anymore, with iOS 7 (not to mention 6) becoming more obsolete every day.

[2016-03-08 20:15] #77 closed

[2016-03-08 20:16] armadsen commented on #134
This is now implemented.

[2016-03-08 20:16] #134 closed

[2016-03-08 20:23] armadsen commented on #123
Dupe of #119, I believe.

[2016-03-08 20:23] #123 closed

[2016-03-08 20:27] armadsen commented on #21
Closing this for now as it seems dead. Not sure that anything is actually required for it anyway.

[2016-03-08 20:27] #21 closed

[2016-03-08 21:26] armadsen commented on #99
Implemented by pull request #138.

[2016-03-08 21:26] #99 closed

[2016-03-08 21:27] armadsen commented on #132
Closing due to no response after a week.

[2016-03-08 21:27] #132 closed

[2016-03-08 21:33] armadsen commented on #125
I just remembered that we already have `MIKMIDIStandardLengthOfMessageForCommandType()` in MIKMIDIUtilities.h that could presumably be used to easily fix this.

[2016-03-09 15:08] georgeyacoub commented on #127
@armadsen I can try and help with examples for Swift and iOS if you can guide me in the right direction.

[2016-03-09 16:33] armadsen commented on #127
Hi @georgeyacoub. That would be wonderful. I've already got a nearly-complete Swift version of the MIDI Testbed example app. A good next step would be to do a Swift version of MIDI Files Testbed. That should be fairly straightforward, since it's just converting an existing ObjC app into Swift (using Swift-isms where appropriate).

Beyond that, I started work on a (Swift) iOS example app that is es

[2016-03-09 16:35] armadsen opened #139 "Add Swift version of example apps"
It would be nice to have functionally identical, Swift versions of the existing MIDI Testbed and MIDI Files Testbed apps.

[2016-03-09 16:35] armadsen commented on #139
@georgeyacoub has indicated interest in working on this.

[2016-03-09 16:38] armadsen opened #140 "Add better iOS example apps"
The current iOS example app, MIDI Soundboard, is badly out of date, and was never good to begin with. As MIKMIDI is probably used as much or more for iOS as it is for OS X, iOS example apps are important. To start with, an iOS app that is more or less like MIDI Files Testbed seems smart.

At a minimum, it should:
- Show MIDI files using a notes view similar to MIDI Files Testbed on OS X. This view

[2016-03-09 16:38] armadsen commented on #140
@georgeyacoub has indicated interest in working on this.

[2016-03-09 16:38] armadsen commented on #127
I'm going to migrate this to a new issues since this one is really specifically about using MIKMIDIConnectionManager in the existing example apps. Let's continue the discussion in #139 and #140.

[2016-03-10 06:35] georgeyacoub commented on #140
Great! I will get on it.

[2016-03-14 04:40] georgeyacoub commented on #140
@armadsen Hey Andrew, I have done some ground work over the weekend and pushed some _work in progress_ to get early feedback to make sure I am on the right track of what you are looking for in the examples. I created a PR linked to this issue in order to open the discussions around the code.

[2016-03-16 22:19] ClayApps opened #142 "MIKMIDIConnectionManager error on blue tooth connection"
Hey Andrew,

I started to take a look at "MIKMIDIConnectionManager" for the handy connection persistence. Ran the code below and got an error (See attached) with a Bluetooth connection. This is MAC OS fyi. It's probably that weird difference in behaviour with the blue tooth connections. Otherwise the list is correct.

[code]

[code]

[2016-03-16 22:27] armadsen commented on #142
You can consider that a harmless warning. The Bluetooth device always shows up, but it won't have any entities/endpoints unless you've actually set up a Bluetooth connection with e.g. an iOS device. I thought about suppressing the error message in this particular case, but it seems like a useful error in cases where you _are_ expecting to be able to connect to a Bluetooth MIDI device.

If it annoy

[2016-03-16 22:32] ClayApps commented on #142
Ha, cool. I figured you would have come across it.

[2016-03-16 22:48] ClayApps opened #143 "MIKMIDIConnectionManager.avaliableDevices with virtual devices enabled"
Mac OSX 10.11.3
If run deviceManager.virtualSources / virtualDestinations I get the following list:
[code]
This is correct and I am happily using them.

But if run this code:

[code]

I get this output:

[code]

If appears to be at least duplicating the inputs for the outputs for the "Daemon" virtual endpoints. I assume it can't match source and destination due to the different names for "Deamon"

[2016-03-16 22:48] #142 closed

[2016-03-17 16:17] armadsen commented on #143
This does sound like a bug/weakness in the code that associates virtual sources with virtual endpoints to create (virtual) devices. That code was written and tested mostly against Native Instruments DJ controllers, so it's not _too_ surprising that it doesn't work for some other set ups.

Are you interested in trying to fix this? If not, I'll take a shot at it when I have time, but it might be a w

[2016-03-19 07:43] jrmaxdev opened #144 "Bug in MIKMIDIDeviceManager"
I found a bug in `MIKMIDIDeviceManager`.

When virtual sources or destinations are discovered and the app is already running these endpoints are not added to the internal virtual endpoint lists.

It seems to me as if the methods that should add the endpoints have a method body copied from the respective **removal** methods.

The methods
`- (void)addInternalVirtualSourcesObject:(MIKMIDISourceEndpoi

[2016-03-19 14:18] armadsen commented on #144
Hi Jan, thanks for reporting this. That is certainly a bug! I'd be happy to accept a pull request if you'd like to fix it and submit one. Otherwise, I'll get this fixed shortly.

[2016-03-19 16:00] armadsen commented on #144
Fixed by #145.

[2016-03-19 16:00] #144 closed

[2016-03-24 16:14] armadsen opened #146 "Make MIKMIDINoteEvent's duration property of type MusicTimeStamp"
It's annoying in Swift, where implicit conversions aren't allowed, to have `duration` be a different type than `timeStamp` and `endTimeStamp`. Can't really changes this until 2.0, to avoid breaking existing (Swift) code, I guess.

[2016-04-13 04:53] blinkmacalahan opened #149 "Unable to change the number of MIDI clocks between metronome clicks or "metronomepulse""
The MIKMIDIMetaTimeSignatureEvent Class has this variable, but when creating a MIDI file I don't see how to modify this value. I'm a novice with MIDI and I'm trying to create compound meter MIDI files (6/8, 9/8, 12/8). I was under the assumption that this value would need to change from 24 (quarter) to 12 (eighth) to work properly. I might be wrong, if so could you tell me the proper way to do thi

[2016-04-21 16:12] armadsen opened #150 "Make it easier to create MIKMIDIMetaEvents (and subclasses)"
Right now, the easiest way is to create a mutable instance, set it's properties, then `copy` it. This is verbose, prone to forgetting to `copy`, wastes cycles, and inelegant in Swift (where the result of `copy` has to be cast).

It would be nice to have specialized init methods for the various subclasses of `MIKMIDIMetaEvent`, like we do for e.g. `MIKMIDINoteEvent`.

[2016-04-21 21:41] armadsen opened #151 "Calling plain alloc/init on MIKMIDIMetaEvent and subclasses produces instance with wrong metaDataType"
There are (commented out) failing tests for this in -[MIKMIDIMetaEventTests testBareInits].

[2016-04-24 08:25] jrmaxdev opened #152 "bug in MIKMIDISequencer"
Found a bug in MIKMIDISequencer, the bug can be reproduced like this:

`#import "MIKMIDI.h"

int main(int argc, const char * argv[]) {

    @autoreleasepool {

        MIKMIDISequencer *sequencer = [MIKMIDISequencer new];
        MIKMIDITrack *track = [sequencer.sequence addTrack];
        sequencer.recordEnabledTracks = [NSSet setWithObject:track];

        MIKMIDINoteOnCommand *noteOn = [MIKMIDI

[2016-04-25 13:37] cflesner commented on #152
Thanks for the report, it's definitely appreciated. This bug is actually already fixed in our 1.6 branch though, so it's something we apparently ran into along the way of using it ourselves.

Since you're using the recording functionality of MIKMIDISequencer, I'd recommend you switch over to using the 1.6 branch yourself too. There's been a few other bug fixes along with that one, and recording sh

[2016-04-25 13:37] #152 closed

[2016-04-25 20:44] armadsen commented on #149
Hi @blinkmacalahan, sorry for the slow reply. I've been working on Issue #150 lately. Among other things, I've made some enhancements to `MIKMIDIMetaTimeSignatureEvent` which may be useful to you (see e.g. #d64a35d).

As for your broader question, I'd have to do a little research, but I _think_ you're correct. To set the time signature for a file, the convention is to put a meta time signature eve

[2016-04-28 22:37] armadsen commented on #149
I'm closing this. If there are further questions, I can reopen it.

[2016-04-28 22:37] #149 closed

[2016-05-06 09:53] cubehead opened #153 "can not record control change command"
only record note on, note off.

[2016-05-07 00:09] armadsen commented on #153
Thanks for the report. This is a duplicate of #37.

[2016-05-07 00:09] #153 closed

[2016-05-10 16:53] armadsen opened #154 "Add sample code for setting the volume of an MIKMIDISynthesizer"
See #148 for discussion leading to this.

[2016-05-13 07:11] synapse opened #155 "Not sending the last control/program in the array"
Hello, when I send an array of controls and programs to a midi controller (keyboard, midi reader) the last midi signal in the array is left out. If I want to sent for example 5 commands I would need to add 6th bogus one to the end.

[2016-05-13 17:20] armadsen commented on #155
Hi @synapse, can you post the code you're using to send commands?

[2016-06-01 16:01] armadsen commented on #155
@synapse can you provide example code that's failing?

[2016-06-01 20:11] armadsen commented on #150
This is much better now. There is room for further improvement, but I'm going to defer that until 1.7.

[2016-06-01 21:15] armadsen commented on #119
I'm not actually able to reproduce this, but I have done a little work to modernize MIDI Soundboard, including switching to using MIKMIDI.framework instead of including MIKMIDI source directly. It should build out of the box again.

[2016-06-01 21:15] #119 closed

[2016-06-01 21:36] armadsen commented on #125
This should be fixed now.

[2016-06-01 21:36] #125 closed

[2016-06-25 16:38] himanshusingh opened #157 "MIKMIDISequence addTrack doesn't seem to be working in swift 2"
This is the exception thrown:
[MIKMIDISequence addTrackWithError:]: unrecognized selector sent to instance 0x7feb40557560

[2016-06-25 16:39] armadsen commented on #157
Can you post the code that triggers this?

[2016-06-25 17:19] himanshusingh commented on #157
Sure! Here you go:
var sequence = try! MIKMIDISequence(fileAtURL: NSURL.fileURLWithPath(path))
try? sequence.addTrack()

[2016-06-25 17:27] himanshusingh commented on #157
Also, adding most of the meta events to a track trigger these exceptions:
[MIKMIDIMetaTextEvent initWithString:timeStamp:]: unrecognized selector sent to instance 0x7f8ee8c8ab00
[MIKMIDIMetaTrackSequenceNameEvent initWithName:timeStamp:]: unrecognized selector sent to instance 0x7f8ee8c7e4a0

code:
sequence.tracks[0].addEvent(MIKMIDIMetaTextEvent(string: "xyz", timeStamp: 0))
sequence.tracks[0].ad

[2016-06-25 17:29] armadsen commented on #157
Thanks! I'm unable to reproduce that in a simple OS X app using the following:

[code]

This is Swift 2.2 compiled using Xcode 7.3.1 on 10.11.5. I'm using the compiled MIKMIDI.framework available from the [1.6.0 release](https://github.com/mixedinkey-opensource/MIKMIDI/releases/tag/1.6.0).

Can you tell me which version of MIKMIDI you're using, and how you installed it? Also, it would be helpful t

[2016-06-25 18:40] himanshusingh commented on #157
I tried to reproduce it in a new iOS project, but it worked fine there.
Then, I deleted the derived data of the original project and compiled again. It works fine now. Weird.
I am on Swift 2.2, Xcode 7.3.1, osx 10.11.5. Installed MIKMIDI 1.6.0 via Pod.

[2016-06-26 21:48] armadsen commented on #157
`-addTrackWithError:` was added in MIKMIDI 1.6, so my guess is that you had a stale version of the library hanging around and getting linked until you cleaned. I'm closing this issue. Let me know if you see the problem crop up again.

[2016-06-26 21:48] #157 closed

[2016-07-11 19:34] therealjuanmartinez opened #158 "Not receiving all messages"
I'm having a consistent issue wherein perhaps 50% of the time, for example, if I depress roughly 10 notes or more on my MIDI keyboard, and then lift them up roughly simultaneously, I don't always get all the NOTE OFF messages.  This behavior is perhaps not limited to NOTE OFF messages, but is easy to test for and what was most noticable.

This seems to happen in particular with one keyboard I have

[2016-08-03 18:50] akoszegi opened #159 "Crashes when a sysex message is sent to a midi device that is connected to iPad before the app starts up"
I have an app that sends preset information (via sysex messages) to a vocal processing device. Everything works perfectly except for when the device is connected to the iPad/iPhone before the app is started up. In this case, the app crashes when a preset is sent to the device. The connected device is found and connected to using MIKMIDIDeviceManager, but crashes at

`if (![deviceManager sendComman

[2016-08-03 19:17] armadsen commented on #159
Can you post a full crash log?

[2016-08-04 16:14] sigmonky opened #160 "MIKMIDISynthesizer loadSoundfontFromFileAtURL does not allow preset selection?"
I am new to MIKMIDI so I may be wrong about this. But it appears that a loaded  soundfont invariably defaults to a AUSamplerInstrumentData.presetID value of 0 and there is no way to assign another value to the presetID property that I can see. This makes multi-timbral soundfonts basically useless.

 If this is indeed the case ( I hope I'm missing something ), I'd like to contribute a pull request

[2016-08-04 18:24] akoszegi commented on #159
I'm quite new to iOS development and couldn't find a way to get the iPad I'm using to record a crash log. I found out what the problem was though. It wasn't what I originally though.

In the callback:

`connectionToken = try MIKMIDIDeviceManager.sharedDeviceManager().connectDevice(performDevice!, eventHandler: {(sourceEndpoint, commands) -> Void in
       // Respond to incoming midi

})`

I was tr

[2016-08-05 03:13] armadsen commented on #160
Hi Randy,

I'm on vacation right now, so my replies will be slow and limited.

Off the top of my head, I believe that what you're saying is true. MIKMIDI's development has largely been driven by Mixed In Key's own use of it, and we haven't used multi-timbral soundfonts which explains why this has been overlooked.

A pull request adding support would be very appreciated!

I'll be home next week and

[2016-08-05 03:15] armadsen commented on #159
For what it's worth, you should probably not use `!` in this code, as that has the explicit behavior of crashing when the value being unwrapped is nil. You should only use `!` when you're absolutely sure that the value in question will _never_ be nil (or you _want_ it to crash). Otherwise, you should unwrap the value safely using `if let` or `guard` and handle nil values in a sane way.

Anyway, gl

[2016-08-05 03:15] #159 closed

[2016-08-05 03:19] armadsen commented on #160
And yes, please do add a new method so that the old one remains available. It would be fine (and probably desirable) to have the existing method simply call through to the new one passing a default preset id (presumably `0`).

Another potential approach would be to leave the soundfont loading method alone, and simply add an API for selecting a preset separately. That particularly seems desirable s

[2016-08-25 23:39] mlostekk opened #161 "connectedDevices empty. Bug?"
I am using MIKMIDI and wonder if it is possible to send midi events automatically only to connected devices. I am working with bluetooth midi and this is how i connect to the device once its paired as peripheral device.

            MIKMIDIDeviceManager *midi = [MIKMIDIDeviceManager sharedDeviceManager];
            MIKMIDIDevice *device         = [midi availableDevices][(NSUInteger) index];

[2016-08-26 00:00] mlostekk commented on #161
Ah, by the way. AWESOME framework! Thank you for sharing!

[2016-08-26 15:08] armadsen commented on #161
Hi Martin,

`connectedDevices` being empty sounds like a bug. I'll have to look at that. In the meantime, you could always save your own reference to the device(s) you want to send MIDI to. So:

[code]

Then when you want to send MIDI:

[code]

I do want to point you towards [`MIKMIDIConnectionManager`](http://cocoadocs.org/docsets/MIKMIDI/1.6.0/Classes/MIKMIDIConnectionManager.html). It is meant

[2016-08-26 15:08] armadsen commented on #161
Sorry, didn't mean to close this until I hear back from @mlostekk.

[2016-08-26 15:09] mlostekk commented on #161
Its okay,

I am now going the full way via the `MIKMIDIConnectionManager` now. It works with that interface. (available devices is filled properly)

[2016-08-26 15:11] armadsen opened #162 "`MIKMIDIDeviceManager`'s `connectedDevices` property is nil when it shouldn't be"
As reported in #161.

[2016-08-26 15:15] armadsen commented on #161
Great. I'm going to close this for now. I opened a separate case only for the `connectedDevices` bug (#162).

[2016-08-26 15:15] #161 closed

[2016-09-04 01:03] armadsen commented on #158
Hi Juan,

Sorry for the slow reply. I'm not sure why MIKMIDI should ever drop commands. I'd be curious to know what you see if you put breakpoints and/or logging in `MIKMIDIPortReadCallback()` in MIKMIDIInputPort.m. This is the function that CoreMIDI actually calls when MIDI packets are received. MIKMIDI then parses them, turns them into `MIKMIDICommand` instances, etc., before passing them to the

[2016-09-07 04:57] rfistman opened #163 "Does MIKMIDI work with AudioUnitRender?"
I'm trying to render a MIKMIDISequence output with `AudioUnitRender`, but when there isn't a remote audio unit in the `AUGraph`, it seems that midi events don't get processed.

**UPDATE**
I see that MIKMIDI does not work with sample timestamps, but it certainly would be nice if MIKMIDI worked as described here: http://stackoverflow.com/a/34342278/22147

[2016-09-10 21:08] bamboostick opened #164 "Render Sequences Offline & Export to Audio File"
It would be incredibly helpful to have the ability to render midi sequences offline with a sound font and save the output to an audio file. I see that this was asked last year on stack overflow (http://stackoverflow.com/a/34342278/22147) and tried to implement the solution myself with little success (http://stackoverflow.com/questions/39310065/audiounitrender-and-extaudiofilewrite-error-50-in-swif

[2016-09-11 20:22] armadsen commented on #164
Enough people have asked for this, that I would like to include it, or at least release working sample code for it. I'll see what I can do.

[2016-09-11 20:25] armadsen commented on #163
Thanks for opening the issue. MIKMIDI itself doesn't really provide any direct support for offline/manual rendering. It is possible to write code to do it, though, and Mixed In Key has done so in a couple projects.

I'm going to close this as a duplicate of #164 and consider it another vote for adding offline rendering to MIKMIDI, or at least releasing sample code for such.

[2016-09-11 20:25] #163 closed

[2016-09-12 05:07] bamboostick commented on #164
Thank you, even some sample code would be absolutely incredible as there really is a lack of iOS MIDI rendering info online. I've spent weeks looking for a solution, but have ended up somewhat empty handed.

[2016-09-23 21:09] akoszegi commented on #120
It looks like `deviceManager.performSelector("retrieveVirtualEndpoints")` doesn't work in Swift 3. Do you have any suggestions?

[2016-09-24 02:22] armadsen commented on #120
@akoszegi: The following should work:

[code]

Note that it will provoke a warning ("No method declared with Objective-C selector 'retrieveVirtualEndpoints'"), but it will work fine.

Still need to fix this in MIKMIDI...

[2016-09-24 19:10] armadsen commented on #164
I spent some time today removing Mixed In Key-proprietary code from the project I mentioned. I've polished it up just a little and have put it in the Examples/macOS folder.

I don't have time right now to port it to iOS, but the most important class, `MIKMIDIOfflineSynthesizer` should work on iOS with minor if any changes.

Right now it seems to only be using the default piano sound of OS X's DLS

[2016-09-24 19:10] #164 closed

[2016-09-24 19:19] armadsen commented on #164
Oh, I should also mention that the project exports to CAF right now. That turns out to be the easiest thing to do, but exporting to AIFF is not too much more work. You basically just need to create an appropriate `AudioStreamBasicDescription` and pass that to `ExtAudioFileCreateWithURL()` along with `kAudioFileAIFFType`. Other formats are possible too (WAV, AAC, ALAC, etc.).

[2016-09-24 21:25] bamboostick commented on #164
**AMAZING**, I cannot thank you enough! I have been stuck on the issue for quite some time and think many other developers will find the example very helpful when creating their audio apps. I'll be porting the code over to iOS and can update this post with what changes (if any) need to be made as I come across them.

[2016-09-26 18:10] akoszegi commented on #120
Thanks! That worked.

[2016-10-03 01:03] bamboostick commented on #164
@armadsen , Just in the process of porting the example over to iOS... I've managed to get the example working with Soundfont support by porting over `loadSoundfontFromFileAtURL` class from `MIKMIDISynthesizer`. Everything seems to be working great, with the exception of one hiccup. The generated CAF file only plays one midi note at a time. For example, for a chord C E G, only the C note would be p

[2016-10-06 19:05] dimklo opened #165 "xCode 8 could not find header file (help-wanted)"
Before today, MIKMIDI library was added to my project as a git submodule. It worked fine.

Today I updated xCode to version 8 and also decided to include MIKMIDI as a pre-built framework through Carthage. So I deleted the submodule and then following the instructions in wiki, I built MIKMIDI framework with 'carthage update' then dragged the ios version of the framework into embedded binaries secti

[2016-10-06 19:26] dimklo commented on #165
It looks like xCode still thinks that MIKMIDI is a submodule and not a pre-built framework. But I could not find a place in my project where it is configured.

[2016-10-06 19:39] dimklo commented on #165
I managed to solve the problem. I was building from the 1.6.0 version. If I build the framework from the master branch the errors are gone.

[2016-10-06 19:40] armadsen commented on #165
Glad to hear it was a simple fix!

[2016-10-06 19:40] #165 closed

[2016-10-09 14:54] armadsen commented on #164
Hi, @bamboostick, sorry for the slow reply. I'm not quite sure why you're only getting one note at a time, but I'd be happy to look into it if you can upload the code you've got so far.

[2016-10-10 00:16] bamboostick commented on #164
@aemadsen No worries and thankyou for your help once again! Here is an iOS example project I created. This project also has support for exporting with Soundfonts!

https://github.com/bamboostick/MIKMIDI-Exporter-iOS-Example

[2016-10-12 22:39] KodaKoder opened #166 "make MIKMIDISequencer KVO compliant"
It would be useful to subscribe to the sequencer to be notified of its status
like the currentTimeStamp

[2016-11-01 13:46] chrispysoft opened #167 "note off = note on ?"
When I press and release a key on my MIDI keyboard, I get **two _note-on_ events**, a _note-off_ is never sent. Same thing when I use the CoreMIDI API without your framework. This behavior occurs **since macOS 10.12**, while Logic Pro still recognizes the correct MIDI events.
Any suggestions?

[2016-11-01 14:31] mlostekk commented on #167
Is the value of the second NoteOn event 0. This is sometimes used as NoteOff

[2016-11-01 15:46] chrispysoft commented on #167
Yes, thanks a lot!

[2016-11-01 17:53] armadsen commented on #167
Yep, this is very common. Note ons with a velocity of zero are often used instead of a note off. Thanks for replying, @mlostekk!

[2016-11-01 17:53] #167 closed

[2016-11-07 14:43] mlostekk opened #168 "What is the right way to send a NRPN?"
I am trying to send a NRPN of this style

`B9H 63H 40H || B9H 62H 64H || B9H 06H 7FH (hex)`
which is
`B9 99 64 || B9 98 100 || B9 06 127 (dec)`

Which i try to create this way

	// create the MSB and LSB command
    MIKMutableMIDIControlChangeCommand *msb = [[MIKMutableMIDIControlChangeCommand alloc] init];
    msb.channel          = 9;
    msb.controllerNumber = 99;
    msb.controllerValue  = 64;

[2016-11-07 18:40] mlostekk commented on #168
This seems to be a bug related to send them all within one array. When i use

```[dm sendCommands:commands toEndpoint:destination error:error])```

When i use a loop where i put all of those commands it works fine

[code]

[2016-11-07 18:50] armadsen commented on #168
Hi @mlostekk,

`+commandByCoalescingMSBCommand:andLSBCommand:]` is specifically and exclusively for coalescing two _incoming_ commands into a single command in order to more naturally support 14-bit control change commands. It is not for simply turning any two commands into a single object, and is definitely not meant to be used for outgoing commands. MIKMIDI doesn't currently have any builtin API

[2016-11-07 18:54] armadsen commented on #168
Weird. It shows mlostekk as adding labels and assigning to me, but it was actually me that did that. GitHub bug, I guess...

[2016-11-07 18:55] mlostekk commented on #168
Ha, weird yep.

Okay, will do some tests regarding batched sends. Maybe i am doing something wrong. Will let you know

[2016-11-07 19:16] mlostekk commented on #168
It seems that when you send a longer package list at once, the last command is not send. Its not related to NRPN (what i though initially, that its kind of specified behavior)

[2016-11-21 23:32] kowongh opened #169 "Make Virtual midi ports private"
How do I make a virtual midi port endpoint and or destination such as MIKMIDIClientSourceEndpoints private... So that I can use them within my own app, but have them not show up in other application's midi port endpoints?

[2016-11-22 04:30] armadsen commented on #169
I don't know of any way to do what you seem to be asking. Why do you want virtual endpoints that are only visible to your app?

[2016-11-22 04:32] armadsen commented on #168
Seems this is a duplicate of #155, actually. I'm going to close this in favor of that (earlier) issue to track this bug.

[2016-11-22 04:32] #168 closed

[2016-11-22 04:36] armadsen commented on #150
Closing this. Will add additional convenience methods for other event types as needed. PRs also welcome.

[2016-11-22 04:36] #150 closed

[2016-11-26 02:45] kowongh commented on #169
I am utilizing the virtual ports within my app to send midi messages to avaudioplayernodes that require it be sent through a virtual midi port. I only want these ports to be available within the internals of my app and not available to other apps.

[2016-11-28 09:46] league1 opened #170 "how to control the suspension of midi signal"

[2016-11-28 21:05] armadsen commented on #170
It's not clear to me what you're asking. Can you provide more details?

[2016-11-28 21:09] armadsen commented on #169
I don't know of any way to make virtual ports "private". I don't think it's possible.

That said, I don't know of any `AVAudioPlayerNode`s that require connecting to a virtual MIDI port. `AVAudioUnitSampler` has regular methods for sending various kinds of MIDI events to it. You should be able to relatively easy route MIDI to it through your app without using virtual MIDI ports.

[2016-11-29 01:06] kowongh commented on #169
Im sorry. What I meant to write was that I am connecting a MusicSequence's MusicTracks up to a virtual midi destination port and then using the output of that port to trigger AVAudioPlayerNodes.

I suppose this is required to have custom callbacks for MidiSequences.

You gave me an idea though. I wonder if I can subclass AVAudioUnitMidiInstrument and place all of my AVAudioPlayer nodes in there.

[2016-11-30 03:11] league1 commented on #170
I want to handle with midi signal, like changing the suspension, interactive with the piano as an example, maybe called midi Controller.

[2016-12-01 09:12] league1 commented on #170
how to deal with MIKMIDICommandTypeControlChange message

[2016-12-01 18:20] armadsen commented on #170
I'm sorry, but I still don't understand what you're asking.

[2016-12-24 07:49] bamboostick opened #171 "Render Sequences Offline on iOS"
I've been working on getting the [MIDI to Audio example](https://github.com/mixedinkey-opensource/MIKMIDI/tree/master/Examples/macOS/MIDI%20To%20Audio) working on iOS, however have encountered a strange issue that I haven't been able to resolve. (continuation from #164)

On the iOS simulator, the conversion works the same as in the macOS example. _(As a side question, I noticed this example render

[2016-12-24 20:02] armadsen commented on #171
Hi @bamboostick, thanks for continuing to work on this. Do you mind submitting a pull request of your work so far just so I can check it out and see if I can figure out anything about the problems you're seeing?

[2016-12-25 09:00] bamboostick commented on #171
@armadsen absolutely! just created a simple example, let me know how it all works out! added at #172

[2016-12-27 05:50] league1 opened #173 "MIKMIDISequencer play midi file how add soundfont in ios"
MIKMIDISequence *sequence = [MIKMIDISequence sequenceWithFileAtURL:midiFileURL error:&error];
MIKMIDISequencer *sequencer = [MIKMIDISequencer sequencerWithSequence:sequence];
[sequencer startPlayback];

I use MIKMIDISequencer play midi file , but i can not find function to add soundfont in ios.

[2016-12-27 19:35] armadsen commented on #173
To load a soundfont, use [`-[MIKMIDISynthesizer loadSoundfontFromFileAtURL:error:]`](http://cocoadocs.org/docsets/MIKMIDI/1.6.1/Classes/MIKMIDISynthesizer.html#//api/name/loadSoundfontFromFileAtURL:error:). You can get the synthesizer for each track using [`-[MIKMIDISequencer builtinSynthesizerForTrack:]`](http://cocoadocs.org/docsets/MIKMIDI/1.6.1/Classes/MIKMIDISequencer.html#//api/name/builtinS

[2016-12-27 19:35] #173 closed

[2017-01-09 11:34] dimklo opened #174 "MIDI latency issue (help needed)"
I am trying to build a sequencer using Ableton Link as internal clock and MIKMIDI to schedule MIDI commands. All things go well but  I have some latency issues. I have the following configuration: my app and Korg Gadget running on the same device  and Ableton Link enabled in both apps. My app sends MIDI commands to Korg Gadget. When I turn on recording in Gadget without quantization I see about 20

[2017-01-10 17:24] #174 closed

[2017-01-10 17:29] dimklo commented on #174
It seems like other apps also have this issue. So I guess I will just add an offset param that a user can adjust to compensate the latency

[2017-01-10 17:31] armadsen commented on #174
I don't actually have a good answer for this. Thanks for reporting it, though.

[2017-01-23 22:53] mlostekk opened #175 "Convert MusicTimeStamp to milliseconds"
What is the best way to calculate milliseconds out of a MusicTimeStamp?

[2017-01-24 23:30] rrc2soft opened #176 "Issues with MIKMIDISequencer and notesOFF (plus potential solutions)"
Hello everyone,

I am making a pet "simple composer" project for iOS using MIKMIDI (great library, btw), and while I was testing the underlying sequencer I found two issues related to noteOff:

1) If a note is very small (e.g. a demisemiquaver), the sequencer will not stop it - or even it will not play it.
2) MIKMIDINoteOffCommands seem to be triggered early by the underlying MIDI system. For exam

[2017-01-25 18:59] rrc2soft commented on #176
I made a couple of tests more and, if the "pending off events" are queued after managing all events (as I said in code change number 1), then we will have a problem with the order of contiguous notes, as notes will be triggered like this: ON---ON/OFF---ON/OFF---... therefore, contiguous notes will not be played after the first one. A solution might be to reorder the MIDI events before scheduling t

[2017-01-31 21:58] sigmonky opened #177 "No midi playback in background mode."
I have set the required background mode to App plays audio or streams audio/video using AirPlay in the plist and also set the Background Modes setting in the capabilities section of the project target.
But the midi player pauses whenever I put the app in the background.

What additional steps should I take to get midi playback to continue when the app is in the background?

Thanks,
Randy Weinstein

[2017-01-31 22:00] sigmonky opened #178 "Setting individual track volume during playback"
Is it possible to reset individual track volume during playback. Love the mute feature but would like something more nuanced.

Thanks,
Randy Weinstein

[2017-02-08 19:03] cemolcay opened #179 "CocoaPods tvOS support"
Hi, it would be awesome if you add tvOS support to your podspec.

[2017-02-09 01:41] cflesner commented on #179
Unfortunately, CoreMIDI is not available on tvOS, so we aren't able to add a tvOS target.

Apple has suggested filing a bug report at bugreport.apple.com and including your use case in the report for consideration.

[2017-02-09 01:41] #179 closed

[2017-02-18 12:30] mlostekk opened #180 "MIKMIDISequencer slower than audio"
Hello,

i am having very simple midi file that i am playing with the sequencer. I have also bounced that midi file to an audio file and playing both at the same time. What i observe is that both sources drift.

I am printing out both `currentTimeStamps` and seeing that the MIKMIDISequencer seems to be a bit slower than the audiotimestamp. I can also hear this effect if i attach an external midi de

[2017-02-18 12:55] mlostekk commented on #180
I just found out that when applying this

```midiSequencer.tempo = midiSequence.tempoEvents.firstObject.bpm * 1.0166;```

It keeps nearly stable

[2017-02-19 18:28] mlostekk commented on #175
Nobody that can tell me how to convert MusicTimeStamp to milliseconds?

[2017-02-20 00:28] armadsen commented on #175
Hi Martin,

`MusicTimeStamp`s are in terms of musical beats. So, to convert to absolute time (milliseconds), you need a time signature and tempo. You can do this using `MIKMIDIClock`. Note that `MIDITimestamp` is absolute time (in the units returned by `mach_absolute_time()`). Anyway, something like:

[code]

Note that the above will return the absolute time (since system boot). If you want the ti

[2017-02-20 00:33] armadsen commented on #178
Hi Randy,

Sorry for the slow response. @cflesner may have a better answer for this than I do, but I believe if you want to set per-track volume, you should set up your own audio unit graph using `MIKMIDISynthesizer` subclasses and an `AUMultiChannelMixer`. MIKMIDI intends to make it easy to do simple MIDI playback, without providing a full featured audio engine.

[2017-02-20 00:34] armadsen commented on #180
Hi Martin,

How are you doing the bounce to audio? Any chance you can provide a sample project that reproduces the problem?

[2017-02-20 04:15] sigmonky commented on #178
Thanks. Maybe a v2 feature :). For now, mute will suffice.

[2017-02-20 14:53] mlostekk commented on #180
okay. will upload a demo project by end of today!

[2017-02-20 15:01] mlostekk opened #182 "How to setup the sequencer to send out events only."
I am using a MIKMIDISequencer with a sequence to play one track (A) (and at the same time, within the same sequencer record to another track (B))

Now lets say i am connected to "Network Session 1" and track A is set up to send the data out like this

        [midiSequencer setCommandScheduler:[[MIDIManager sharedManager] getDestination]
                       forTrack:[currentSong.midiSequence ge

[2017-02-20 15:04] mlostekk commented on #175
perfect. thanks

[2017-02-20 15:57] mlostekk commented on #182
OMG. I have set the "Live Routings" in the AudioMIDIMac setup app. All works fine.

[2017-02-20 15:57] #182 closed

[2017-02-20 17:59] #178 closed

[2017-02-20 17:59] #169 closed

[2017-02-20 18:00] mlostekk commented on #180
You can see the drifting difference in this project

https://github.com/mlostekk/MIKMIDIAudioVsMidi

The first counter is the timer in milliseconds. The lower right one is the difference. You can see it drifting. And you can can hear it.

[2017-02-20 18:00] #170 closed

[2017-02-20 18:08] mlostekk commented on #180
Ah, and by the way, i have directly bounced the wave file from ableton. But it does not matter, as you can _see_ the timers shifting

[2017-02-20 18:21] mlostekk commented on #175
Well, 2 more questions.

a) is it not possible to calculate a given point in ms wihtout a sequencer?
b) both code snippets are the same.

[2017-02-20 18:31] armadsen commented on #175
a) It is, you just need to create your own instance of `MIKMIDIClock` and set it up by calling `setMusicTimeStamp:withTempo:atMIDITimeStamp:` with appropriate values.

b) No, the second snippet calls `-midiTimeStamps*Per*MusicTimeStamp:` rather than `-midiTimeStamp*For*MusicTimeStamp:`. The first returns the absolute midiTimeStamp for a passed in musicTimeStamp based on the current tempo and sync

[2017-02-20 20:12] mlostekk commented on #175
a) okay this was the right hint (even though `MusicTimeStamp:withTempo:atMIDITimeStamp:` is deprecated.

b) got it

by the way, the more i work with MIKMIDI the more i think this is awesome work you have done there! keep up the great stuff!

[2017-02-20 20:12] #175 closed

[2017-02-23 05:09] quinton-ashley opened #183 "working iPhone example"
Please create a working iPhone example or modify the iPad example so that it can work on iPhones.  I tried to do it myself but I don't know a lot about how storyboards work.

[2017-02-27 11:31] mlostekk commented on #158
I am having the same issue when there are like 100 MIDI Control messages coming in at the same time. (Doing device handshake at startup). Then some messages (~10) of the first messages are not processed. I will try the above debug process too

[2017-02-27 11:51] mlostekk commented on #158
I have tried a bit of debugging. And realized that the first command that the device is sending out is a ProgrammChange, the ~10 commands after this program change are not received.

But when the ProgrammChange command is absent, it seems to work fine.

Any tips about that?

by the way @therealjuanmartinez did you find a solution for that?

[2017-02-27 16:27] mlostekk commented on #158
Okay, it seems that the ProgramChange command is parsed wrong. Try sending this midi sequence with "[MIDIKit](https://itunes.apple.com/de/app/midikit/id626730591?mt=12)"

http://nomad5.com/data/dev/midi/PGMChangeIssue.mid

You will see that the sequence is parsed purely as ProgramChange command. All subsequent commands are ignored.

@armadsen should i create a new issue for that?

[2017-02-27 17:06] mlostekk commented on #158
I have found the issue. It was in MIKMIDICommand. I have created a pull request.

This way it should be able to parse different message types within one MIDIPacket

https://github.com/mixedinkey-opensource/MIKMIDI/pull/184

[2017-03-13 15:36] rrc2soft commented on #177
I have integrated MIKMIDI into my project and it works in the background - not when in the simulator, but in a real device (iPad mini 2).

Have you tried to configure an AVAudioSession? Maybe that's what is causing you the problems. Check https://developer.apple.com/library/content/documentation/Audio/Conceptual/AudioSessionProgrammingGuide/Introduction/Introduction.html.

In my app (a simple DAW-

[2017-03-22 08:55] jessefang opened #185 "How to add a soundfont to Mid file and use MIKMIDISequencer play it?"
hello~
I see same issue from #173.but i can't find the method to play it.how can i use MIKMIDISequencer or  MIKMIDISynthesizer to play the mid file?

[2017-04-05 08:10] weepy opened #186 "Example not working on iOS"
The MIDI Soundboard iOS example doesn't work.

The app runs but gives the following error:

```MIDI Soundboard[13980:4174945] Unknown class ORSViewController in Interface Builder file.```

Any ideas how to fix ?

[2017-04-05 09:49] SethCody opened #187 "How to play .mid File at a specific time?"
I know this method:
[MIKMIDISequencer startPlaybackAtTimeStamp:(MusicTimeStamp)timeStamp];
,but how to play at a specific time(eg:1.2s) not MusicTimeStamp type.Thanks!!!

[2017-04-05 14:56] cflesner commented on #187
There isn't any built-in method to start at a specific time in a sequence.

 If the tempo is constant then you can just convert the start time to a MusicTimeStamp like this `timeStamp = time * (tempo / 60)`, and start playback there.

If the sequence you're playing doesn't have a constant tempo, then obviously the calculation is going to get a little bit more complicated, but the overall concept o

[2017-04-09 00:21] KodaKoder opened #188 "MIDI beat clock"
Cannot find  way to send MIDI beat clock commands with MIKMIDI
is a missing feature or I'm missing something?

[2017-04-10 20:25] mlostekk commented on #180
no update about that what i might do wrong?

[2017-04-13 18:14] dimklo opened #189 "Error while uploading the app to the app store"
I built MIKMIDI with Carthage and added to my project as described in the wiki. The app builds and runs on simulator and  devices without any problem. Today I have tried to upload the first build to the app store and got the following errors:

ERROR ITMS-90087: "Unsupported Architectures. The executable for ChordFlow.app/Frameworks/MIKMIDI.framework contains unsupported architectures '[x86_64, i38

[2017-04-13 18:43] armadsen commented on #189
Hi @dimklo,

This is due to what is arguably a bug in the app submission process. The problem is that the MIKMIDI.framework contains Intel slices for the iOS simulator. Those need to be stripped out before uploading to the app store. Carthage has an included script for doing that. Follow the instructions under "If you're building for iOS, tvOS, or watchOS" here: https://github.com/Carthage/Carthag

[2017-04-13 19:06] dimklo commented on #189
Hi, yes it helped. After adding the script the built archive uploaded without problems. Thank you so much for a so quick reply (as always). Best wishes!

[2017-04-13 19:06] #189 closed

[2017-04-20 14:39] himanshusingh opened #190 "No audio with Bluetooth HFP on AVAudioSessionCategoryPlayAndRecord"
No audio comes out with Bluetooth headsets and Airpods when I play a midi with Audio Session category set to AVAudioSessionCategoryPlayAndRecord.
MIKMIDI version 1.6.1
Any help appreciated, thanks!

[2017-04-23 20:48] dimklo opened #191 "Notifications about adding and removing midi destinations not working consistently."
For some reason, the notifications about adding and removing MIDI destinations don't work most of the time any more.

I have debugged  method void MIKMIDIDeviceManagerNotifyCallback(const MIDINotification *message, void *refCon) of the class MIKMIDIDeviceManager

And I found the following:

When I start another app that has a virtual midi port, nothing happens. But when I open my app, the method M

[2017-04-24 19:37] dimklo commented on #191
On my other project however I don't have this problem. And I can not find any differences in the way I use it between my two projects. The  method MIDIClientCreate is called on the main thread in both cases.

[2017-04-24 21:20] armadsen commented on #191
Hi Dimklo,

Do you think that's related to this bug https://github.com/mixedinkey-opensource/MIKMIDI/issues/120?

[2017-04-24 21:30] dimklo commented on #191
In the bug #120 there was a problem that virtualDestinations array didn't contain newly added devices. But now the problem is that MIKMIDIDeviceManagerNotifyCallback is not called when a new midi device is added.

[2017-04-24 21:41] dimklo commented on #191
It is very strange. Firstly because, as I already said, the same functionality works fine in my other project. Also I found a scenario when the event about the removal of the device works. It works only if the app that creates this midi device is started before my app. And when I close the other app, my app gets notification about the device removal. But if I then start the other app again, the no

[2017-04-26 06:55] dimklo commented on #191
I have created a new clean project with the only MIKMIDI dependency and this issue seems to reproduce in it as well. Is it possible that you look at it if I send it to you, Andrew?

[2017-04-26 16:10] armadsen commented on #191
Yes, please email me at andrew@openreelsoftware.com <mailto:andrew@openreelsoftware.com>

-Andrew

[2017-04-26 17:28] armadsen opened #192 "Investigate switching to AUMIDISynth on iOS again"

[2017-04-26 17:29] armadsen commented on #192
See #76, etc.

[2017-04-26 17:30] armadsen commented on #192
@cflesner: Any input on this?

[2017-04-27 10:13] dimklo commented on #191
I sent you a link to the demo project.

[2017-04-29 17:23] cemolcay commented on #126
Hi, I am also trying to create a virtual source and send midi on/off commands to DAWs like Logic or GarageBand.
I created a wrapper class for that and when I run the app, Logic detects the virtual input source, created with `MIKMIDIClientSourceEndpoint`. However `send` method seems not to work.
What am I missing?

[code]

[2017-04-30 06:28] NeverSleeper opened #193 "How to record Midi and write a file?"
Hello everyone,

I'm quite new to Midi-Programming, but I would like to know what am I doing wrong?
I try to record simple Midi NoteOn and NoteOff-Messages to a sequencer and at the end I would like to write them to a simple Midi-file.

I've made a small class to make my approach visibile:

I create a sequencer with an empty sequence and the sequence adds a new track which will be added to the seq

[2017-04-30 08:51] mlostekk commented on #180
@armadsen ping :)

https://github.com/mlostekk/MIKMIDIAudioVsMidi

[2017-05-03 01:38] jandolina opened #194 "Using Mappings in Swift"
This library looks awesome and to come from from the Mixed in Key crew... woo!

I am trying to integrate the MappingManager. I am having trouble with the code sample found in the header of MIKMIDIMapping.

[code]

Specifically in Swift I am unable to get the following line to work:

`let item = mapping.mappingItems(forMIDICommand: command)`

Any help or examples would be much appreciated.

[2017-05-16 21:07] mlostekk commented on #37
is there already support for recording CC?

[2017-05-17 08:45] dimklo commented on #191
Andrew, have you tried to reproduce the issue on the project I sent to you?

[2017-05-30 16:24] dewib opened #195 "MIKMIDI Commands dropped in busy flow e.g. roli lightblock, possibly other pitchbendy/pressury inputs"
I was testing some iOS input device code with a Roli Lightblock and I couldn't catch a noteOn message. The moment you touch the Lightblock it shoves out lots of channel pressure/ pitch wheel stuff so perhaps this causes the issue.

In Swift I've got an event handler that does:
`for mmCommand in mmCommands{print(mmCommand) }`

with the MIKMIDICommand array and prints the above commands plus note of

[2017-05-30 20:51] Webern opened #196 "Feature Request - Support SF3"
sf3 allows the audio files to be compressed, which is crucial for us as we are running on iOS.  Please consider supporting sf3 in MIKMIDI.  Thanks.

https://musescore.org/en/node/151611

[2017-05-30 22:11] armadsen commented on #195
Hmm. I've been looking for an excuse to buy a Roli Lightpad block and play with it. Maybe tracking this down is that excuse ;).

In the meantime, I sort of wonder if there's a problem with the multiple-message-per-packet code in `+[MIKMIDICommand commandsWithMIDIPacket:]`. Can you check if the `if (packetData[0] != firstCommandType && ...` statement (line 70 of MIKMIDICommand.m) is evaluating to t

[2017-05-30 22:17] snej opened #197 "Buffer overflow bug in MIKMIDISystemExclusiveCommand.manufacturerID"
The implementation of MIKMIDISystemExclusiveCommand.manufacturerID has a couple of problems:
[code]

First is that it creates a 1- or 2-byte NSData object and then reads 4 bytes from its buffer, which is guaranteed to overrun the buffer. If you're lucky the bytes past the end will be zeroes and the result will be correct. If not, the result will be garbage. Worst case, you fall off the end of mapp

[2017-05-30 23:04] armadsen commented on #196
Unfortunately, as far as I know, the sf3 format is proprietary to Musescore, and is not something we could support. In any case, right now, we rely on Apple's built in/system provided synthesizers for MIDI synthesis, including soundfont loading. They only support .sf2.

We actually solved this problem in our own iOS app by writing a custom MIDI synth audio unit based on [OpenSFZ](https://github.co

[2017-05-30 23:04] #196 closed

[2017-06-01 02:29] Webern commented on #196
OK, thanks for the tip.

On May 30, 2017, 4:04 PM -0700, Andrew Madsen <notifications@github.com>, wrote:

[2017-06-02 11:37] dewib commented on #195
I'm no great programming genius (or speller) so I shoved a printf("halleluyah"); (sic) into the right place. My own code catches note on and offs and prints when it receives any:  The console output was this:

halleluyahhalleluyahhalleluyahhalleluyahnote off
halleluyahhalleluyahhalleluyahnote off
halleluyahhalleluyahnote off
halleluyahnote off
halleluyahhalleluyahhalleluyahnote off
halleluyahhalle

[2017-06-04 17:36] snej opened #198 "Multi-packet SysEx commands should be coalesced"
I'm working on receiving patch/configuration dumps from the Novation Circuit and Novation Launch Control XL. These are sent by the device as SysEx messages that are about 300 bytes long. Each such message is received as multiple MIDI packets.

MIKMIDI doesn't handle these messages correctly. It's interpreting each packet as a separate command, instead of part of one long command. For example, here

[2017-06-05 10:05] REREZCZC commented on #190
Have you solve this issue? currently i just stuck here.

[2017-06-07 19:07] ClayApps commented on #198
I submitted a pull request about a year ago here:
https://github.com/mixedinkey-opensource/MIKMIDI/pull/130

I didn't really know what I was doing at the time but seemed to do the trick.

[2017-06-08 22:33] rrc2soft opened #199 "Issue in MIKMIDIClock::MIKMIDIClockSecondsPerMIDITimeStamp() - Fix inside"
Hi everyone,

I found an issue in MIKMIDIClockSecondsPerMIDITimeStamp: in a real iOS environment (iPad mini 4, iOS 10.3), secondsPerMIDITimeStamp was not accurate, and the clock would drift ~0.60s every 60s (in a 120BPM sequence). After some debugging, and thanks to this entry in StackOverflow (https://stackoverflow.com/questions/675626/coreaudio-audiotimestamp-mhosttime-clock-frequency), I found

[2017-06-08 22:39] rrc2soft commented on #199
I realize now that probably that (double) conversion should be (Float64) :-)

[2017-06-14 12:51] jagdeep-manik opened #201 "Reading In Multiple MIDI Events in MIDIPacket"
Hi, I connected my Casio Privia PX-850 to my computer and ran the MIDI Testbed (macOS) app to log MIDI messages. When I pressed down or released any key, I only got one MIKMIDIControlChangeCommand (but I expected a "Note On" and "Note Off" command).

This is what the packet looks like in the debugger:
[code]

In the code above, the packet begins with a ControlChangeCommand (\xb0) with control numb

[2017-06-14 15:54] armadsen commented on #201
Another pull request would be welcome. I haven't merged that one because the changes I requested in my last comment haven't been made.

[2017-06-19 14:35] jrmaxdev opened #203 "incorrect timing when scheduling note events"
Changes in MIKMIDINoteEvent.m (commit 75736c3 on 13 Sep 2016) introduced the following bug:

In method

`++ (MIKMIDINoteOffCommand *)noteOffCommandFromNoteEvent:(MIKMIDINoteEvent *)noteEvent clock:(MIKMIDIClock *)clock`

`MIDITimeStamp timestamp = clock ? [clock midiTimeStampForMusicTimeStamp:noteEvent.timeStamp] : MIKMIDIGetCurrentTimeStamp();`

incorrectly assigns the `noteEvent.timeStamp` to th

[2017-06-19 16:02] jrmaxdev opened #204 "bugs in dispatch queue creation"
Creating a dispatch queue with `dispatch_queue_create` requires an `attr` param.
This attribute can be created with `dispatch_queue_attr_make_with_qos_class`.
This function takes a `relative_priority` as third parameter.

`dispatch_queue_attr_make_with_qos_class` is used in three MIKMIDI source files:

MIKMIDIClock.m
MIKMIDISequencer.m
MIKMIDISynthesizer.m

In all cases `DISPATCH_QUEUE_PRIORITY_HI

[2017-06-27 22:10] rrc2soft opened #205 "Retain cycle between MIKMIDISequence and MIKMIDISequencer"
As mentioned in the bug title, there is a retain cycle between those two classes. Therefore, if an instance of MIKMIDISequencer is set to nil, such instance will never call dealloc, as its 'sequence' property has a strong reference to it.

MIKMIDISequence.h:
`@property (nonatomic, readonly, nullable) MIKMIDISequencer *sequencer;`

MIKMIDISequence.m:
`@interface MIKMIDISequence ()
{
	MIKMIDISequenc

[2017-07-05 14:04] eastari commented on #193
What about  MIDITimeStamp ?

[2017-07-05 14:05] eastari commented on #193
When notes start to play?

[2017-07-06 07:38] NeverSleeper commented on #193
Well, I've solved the problem maybe a week ago. Thats right, I did create a wrong MIDITimeStamp.

I needed to create a Date variable to get the current time, otherwise the MIDITimeStamp.init() would only create a zero, so the notes would never be send.

Here is a way to accomplish it in Swift-Code:

[code]

[2017-07-06 07:45] eastari commented on #193
let date = Date() - not good

[2017-07-06 07:48] NeverSleeper commented on #193
I don't want to sound harsh, but this comment is not very helpful.

If you know a better approach so post it please.

[2017-07-06 08:10] eastari commented on #193
Its ok (but helpful to understand problem and find solution)
It is not safe to use NSDate to compare elapsed time, since the system clock can change at any time (NTP, DST transitions, leap seconds, and many other reasons). Use mach_absolute_time instead or CACurrentMediaTime()

[2017-07-06 08:42] NeverSleeper commented on #193
Thank you for your hint. I've changed it now to:

[code]

I hope thats more appreciated? At least in my case, it works like before.

[2017-08-20 03:14] armadsen commented on #205
Fixed in master now, and will be in the 1.6.2 release.

[2017-08-20 03:14] #205 closed

[2017-08-20 15:05] armadsen commented on #203
Thanks for reporting this. It was fixed by 242475f.

[2017-08-20 15:05] #203 closed

[2017-08-21 17:43] armadsen commented on #197
Fixed by 784a9c4. Thanks!

[2017-08-21 17:43] #197 closed

[2017-08-21 17:43] armadsen commented on #193
Seems like this is answered. Reopen if not!

[2017-08-21 17:43] #193 closed

[2017-08-22 17:01] armadsen commented on #122
Fixed by #200.

[2017-08-22 17:01] #122 closed

[2017-08-22 17:01] armadsen commented on #198
Fixed by #200.

[2017-08-22 17:01] #198 closed

[2017-08-22 20:26] armadsen commented on #201
Fixed by #202.

[2017-08-22 20:26] #201 closed

[2017-08-25 20:54] #204 closed

[2017-08-25 20:54] #187 closed

[2017-08-25 21:09] armadsen commented on #151
Fixed and uncommented previously-failing tests.

[2017-08-25 21:09] #151 closed

[2017-08-27 16:27] armadsen commented on #199
Thanks for reporting this. It doesn't show up on x86_64 (ie. macOS and the iOS simulator) where `.numer` and `.denom` are both 1, and integer division is fine. On arm64, they're 125, and 3, respectively, so integer division indeed produces an imprecise/incorrect result. I've pushed a fix.

[2017-08-27 16:27] #199 closed

[2017-08-27 18:12] armadsen commented on #180
This appears to be a duplicate of #199, which was fixed by fe68908. Sorry it took so long to get it fixed!

[2017-08-27 18:12] #180 closed

[2017-08-28 05:16] armadsen commented on #195
Any chance you could test this again? I think it should be fixed in master now that #202 has been merged.

[2017-08-28 05:17] armadsen commented on #158
Fixed by #202.

[2017-08-28 05:17] #158 closed

[2017-09-03 16:21] armadsen opened #207 "Dealing with zero velocity note on representing note off is painful, especially in Swift"
Some MIDI devices send a note on message with a velocity of zero instead of sending note off. In Objective-C, this isn't too bad since `MIKMIDINoteOnCommand` and `MIKMIDINoteOffCommand` have identical interfaces, and therefore, treating an instance of `MIKMIDINoteOnCommand` as an instance of `MIKMIDINoteOffCommand` is generally a fine workaround.

However, the stronger type system in Swift makes t

[2017-09-04 20:09] PatrickMIK commented on #207
Op 3 sep. 2017, om 18:21 heeft Andrew Madsen <notifications@github.com> het volgende geschreven:

[]

What about combining MIKMIDINoteOnCommand and MIKMIDINoteOffCommand in a new MIKMIDINoteCommand class, and adding one property: 'isNoteOn'?

Or would that be overly simplistic?

p.

[2017-09-06 18:59] armadsen commented on #207
I think the problem there is just that it would break existing code that differentiates them using `isKindOfClass:` or conditional casting in Swift.

[2017-09-06 19:28] PatrickMIK commented on #207
Op 6 sep. 2017, om 20:59 heeft Andrew Madsen <notifications@github.com> het volgende geschreven:

Yes, probably.

However, the needed code changes are probably obvious, and will be flagged at compile/link time.

If MIKMIDI is supported as in official, separately installed library this would obviously break the API and require a new framework version.

Reducing complexity instead of adding more typ

[2017-09-06 19:38] cflesner commented on #207
For option 4, we could make a class property that determined which behavior MIKMIDICommand (or whatever class had the behavior) would use. We could default that property to the old way in the current releases with a note that we were going to change the default in a future version or something (since I think the more convenient method would make a better default personally).

I also like option 2.

[2017-09-12 12:23] RadioDisney commented on #185
`    NSString *itunesDir = [NSSearchPathForDirectoriesInDomains(NSDocumentDirectory, NSUserDomainMask, YES) firstObject];
    NSString *midiPath = [NSString stringWithFormat:@"%@/%@", itunesDir,  @"song.mid"];
    NSURL *midiUrl = [NSURL fileURLWithPath:midiPath];

    NSError* err;
    MIKMIDISequence* sequence = [MIKMIDISequence sequenceWithFileAtURL:midiUrl error:&err];
    MIKMIDISequencer *se

[2017-09-19 19:58] armadsen commented on #195
Closing due to inactivity. Presumed fixed.

[2017-09-19 19:58] #195 closed

[2017-09-19 20:03] armadsen commented on #207
I started experimenting with this, and have pushed my current changes to the issue207 branch. A combination of options 1 and 2 made for the nicest Swift code. I'm not entirely happy with an additional class in the hierarchy, but it does pave the way for a transition to Patrick's suggestion in a major update (e.g. version 2.0) where we can break API.

[2017-10-17 17:30] dhilowitz opened #208 "How to use Synthesizer in conjunction with Audiobus 3"
Hi,

I'm using the MIKMIDI SF2 synthesizer as the audio generator for my app. I am trying to add Audiobus 3 support to my app as well–specifically, I'm trying to add an audio output port. According to the Audiobus documentation:

"You may choose to provide your IO audio unit (of type kAudioUnitSubType_RemoteIO), which will cause the sender port to automatically capture and send the audio output. T

[2017-10-17 18:05] dhilowitz commented on #208
I figured it out! You do this:

[code]

Then, I can use `outAudioUnit` when I'm setting up my Audiobus Audio Sender.

[2017-10-17 18:05] #208 closed

[2017-10-26 12:18] VNKorchagin opened #209 "Retrieve available devices after app did become active"
There are several ways to connect MIDI devices to your phone / tablet:

1) Cable
2) Bluetooth

To connect a MIDI device via Bluetooth, you need to minimize the current application. After the application has become active again, it is necessary to request available devices, otherwise the connected device will be out of available devices.

To get this capability, you need to sign the manager for the

[2017-10-28 22:20] dhilowitz commented on #177
Same here:

[code]

Make sure you do this before you initialize your audio engine or synthesizer audio unit.

[2017-10-29 02:39] dhilowitz opened #211 "Weird request: Is it possible to suspend incoming MIDI so that other apps can't see it"
So I have a weird question.

I've created an app that takes MIDI input (note on messages, mostly) from a specific external MIDI device and generates new, more useful MIDI output (also note on messages). I have a virtual endpoint (a `MIKMIDIClientSourceEndpoint`, to be exact) that I expose within my app so that other iOS apps can receive input from my app. So far so good.

With every soft synth tha

[2017-11-09 22:57] armadsen commented on #211
Unfortunately I don't think there's a way to do this :(. I don't know for sure, but I haven't seen one in the MIDI APIs.

[2017-11-09 23:51] #162 closed

[2017-11-21 04:02] dhilowitz opened #212 "When using MIKMIDIConnectionManager with `includesVirtualDevices`, virtual devices show up twice!"
This seems to be a copy and paste error. This block of code appears twice (starting on line 233):
[code]

----

https://github.com/mixedinkey-opensource/MIKMIDI/blob/db028896226e1baf306965f6db69563eb6a7ad90/Source/MIKMIDIConnectionManager.m#L233

[2017-11-21 04:03] dhilowitz commented on #211
Oh, well. :/

[2017-11-21 04:03] #211 closed

[2017-11-21 04:23] armadsen commented on #212
Nice catch, thanks! I’ll get this fixed.

[2017-11-27 23:03] quarterto opened #214 "Crashes immediately on MIDI event (or, what am I missing)"
I created an empty Swift project, and in `AppDelegate.application(_:didFinishLaunchingWithOptions:)` added `_ = MIKMIDIConnectionManager(name: "test")`. That's it. As soon as the first MIDI event comes in the app crashes with `EXC_BAD_ACCESS`. I did wonder if it was #213, but I can reproduce in 1.6.2 and master.

Since I've no idea what I'm doing here, what's the absolute minimum I need to set up

[2017-11-27 23:08] armadsen commented on #214
Do you mind zipping up your project and sending it to me (andrew@openreelsoftware.com). What you've described should work. I don't have a MIDI device handy to test with the moment, but will later tonight.

[2017-11-28 04:16] armadsen opened #215 "Crash when MIDI events are received after an MIKMIDIConnectionManager has been created then deallocated."
Reported in Issue #214. To reproduce, create a new, empty project with the following:

[code]

Run the app with a MIDI device already connected. After the app launches, press a button on the MIDI device and watch the app crash here:

[code]

[2017-11-28 04:51] armadsen commented on #214
I was able to reproduce this. The problem here is that the `MIKMIDIConnectionManager` you're creating is being deallocated nearly immediately because you're not storing a strong reference to it (you're not even putting it in a variable). This is exposing a bug in MIKMIDI (I've opened issue #215) for this, and will push a fix shortly.

However, you need a _little_ more than that to actually receive

[2017-11-28 04:58] #215 closed

[2017-11-28 05:00] armadsen commented on #212
Fixed by #213.

[2017-11-28 05:00] #212 closed

[2017-11-28 05:00] #185 closed

[2017-11-28 05:03] armadsen opened #216 "Warning: "Conflicting nullability specifier on return types" when importing into Swift."
This is because `-[NSObject init]` is marked `nonnull`. However, `-[MIKMIDISynthesizer init]` really can fail, so it needs to be marked `nullable`. This seems like a dumb thing for the compiler to do, since it's longstanding convention (pre-nullability) that any initializer can potentially return nil. There doesn't seem to be any way to explicitly tell the compiler "yes, I really do want this to h

[2017-11-28 05:04] armadsen commented on #216
I've just suppressed the warning for now. Hopefully there's a better way to fix this at some later date.

[2017-11-28 05:04] #216 closed

[2017-11-28 05:06] armadsen commented on #209
Fixed by #210.

[2017-11-28 05:06] #209 closed

[2017-11-28 05:10] armadsen commented on #176
Just a note to say that the second bug here was fixed by 242475f4 and the fix is in the 1.6.2 release. The first bug noted here is presumably still a problem. @cflesner is probably in a better position to fix this.

[2017-11-28 05:10] armadsen commented on #188
This is a missing feature. I've added it to our milestone for 1.7.

[2017-11-28 05:11] armadsen commented on #155
Closing for lack of response.

[2017-11-28 05:11] #155 closed

[2017-11-28 05:11] armadsen commented on #120
Should be fixed by #210.

[2017-11-28 05:11] #120 closed

[2017-11-28 05:17] armadsen commented on #140
See #186, #183.

[2017-11-28 05:18] armadsen commented on #140
Didn't mean to close.

[2017-11-28 05:18] armadsen commented on #186
Covered by #140.

[2017-11-28 05:18] #186 closed

[2017-11-28 05:18] armadsen commented on #183
Covered by #140.

[2017-11-28 05:18] #183 closed

[2017-11-28 05:24] armadsen commented on #214
The crash you saw should be fixed in master, but you'll still need to make sure you keep a strong reference to the connection manager (e.g. using a property as in my example code above) in order to actually receive events.

[2017-11-28 09:07] quarterto commented on #214
Αh, thanks. Weak references always catch me out 😞

[2017-11-28 09:07] #214 closed

[2017-11-30 00:09] armadsen opened #217 "MIKMIDISynthesizer initializers should throw errors"
Right now they just return nil with no error returned if something goes wrong.

[2017-12-18 10:37] nhatlee opened #219 "Library didn't received Bluetooth Low Energy signal after connected to BLE MIDI device into app."
I use version 1.6.1 and faced with a bug, I think relate to singleton. I Add observer new device input at `AppDelegate`, into my setting device have list of BLE device which use for user choose one of them to connect via bluetooth. But after connected to MIDI via bluetooth, the library didn't detected new coming device. Any suggestions to fix it?

[2017-12-18 11:03] nhatlee commented on #219
After tried to debug, it seem the function `void MIKMIDIDeviceManagerNotifyCallback(const MIDINotification *message, void *refCon)` didn't called when the app connect to BLE MIDI device successful.But still don't know how to fix it :(

[2017-12-26 10:40] iKimee opened #221 "How to use 'recordMIDICommand' API"
I connect to Piano;
When I use [self.sequencer startRecording], why it also play sound;

[code]

'recordMIDICommand:command' Api also can't work. I play the Piano to received commands and record. In the end, I use 'self.sequencer.sequence' api conver to nsdata, but not.

I want to make it happen: play the piano and create midi file. can you help me? thanks.

[2018-01-04 07:44] iKimee opened #222 "When I recording,musicTimeStamp always < 0"
- (void)recordMIDICommand:(MIKMIDICommand *)command
{
	if (!self.isRecording) return;

	MIDITimeStamp midiTimeStamp = command.midiTimestamp;
	MusicTimeStamp musicTimeStamp = [self.clock musicTimeStampForMIDITimeStamp:midiTimeStamp];

    NSLog(@"time--%f %@", musicTimeStamp, self);
    if (musicTimeStamp < 0) { return; } // Command is in pre-roll
}

I use [self.sequencer startRecording], but music

[2018-01-12 13:23] latenitefilms opened #223 "Crash in MIKMIDIInputPort.m:285"
Specifically:

`3  CommandPost                    0x10e8c0e6f __59-[MIKMIDIInputPort sendCommands:toEventHandlersFromSource:]_block_invoke (MIKMIDIInputPort.m:285)
`

Full details here:

[code]

[2018-01-12 13:28] latenitefilms opened #224 "Crash in MIKMIDICommand"
Specifically:

`0  CommandPost                    0x1046c7053 +[MIKMIDICommand commandWithMIDIPacket:] (MIKMIDICommand.m:44)`

Full details:

[code]

[2018-01-12 13:47] latenitefilms commented on #223
Maybe more error detection needs to be added to this?

[code]

[2018-01-12 18:35] armadsen commented on #224
Thanks for the report Chris. Is this happening with a particular device? Any idea which command is being received from the device when it crashes?

[2018-01-12 23:05] latenitefilms commented on #224
I'm using an M-Audio KeyRig 25, and I'm just pressing the keyboard keys (note on/note off).

Xcode logs show:

[code]

[2018-01-13 03:50] armadsen commented on #224
Thanks so much, Chris.

Three more questions:

1. Are you sure the exception log in your last comment is for this crash (which appears to be in `+[MIKMIDICommand commandWithMIDIPacket:]`), and not for Issue #223? It looks like it's for the crash log in #223.

2. Is this reliably reproducible, or just occasional?

3. Are you using `MIKMIDIConnectionManager` in your app?

There's nothing in `-[MIKMI

[2018-01-13 04:09] armadsen commented on #223
I've pushed a potential fix to the Issue223 branch. If you're able to test it out, I'd appreciate it. I can't reproduce this crash myself, at least not so far.

[2018-01-13 13:39] latenitefilms commented on #224
1. Ah, yes, I probably am getting the two mixed up. Sorry!
2. I think it's something in my code that's causing the crash, as I made some changes to something, and started seeing these errors that weren't previously happening - however, regardless, it still shouldn't crash the whole app like this, so best to fix MIKMIDI to prevent this from happening.
3. [Here's the code](https://github.com/Hammers

[2018-01-13 13:40] latenitefilms commented on #223
Amazing - thank you! Will test ASAP.

[2018-01-14 21:41] latenitefilms commented on #224
I worked out what the issue what. Apologies in advance if I'm using the wrong terminology.

Basically, I was creating a new MIKMIDI instance for each MIDI Device and MIDI Virtual Source currently on my system to check all devices for any commands, and once a command was received I was destroying the MIKMIDI instances. However, because I had a physical MIDI device and virtual MIDI device with exact

[2018-01-14 21:52] latenitefilms commented on #223
Sorry for the delay. Annoyingly I can't reproduce this bug on any of the other MIDI Devices I own, so will have to test with the device that was originally causing the crash later tonight.

[2018-01-14 23:40] latenitefilms commented on #223
@armadsen - I managed to re-create the bug, and your fix fixes it! Thank you!

Any chance you could release this fix as a new Github release so that I can use CocoaPods to update everything cleanly? Thanks in advance!

[2018-01-15 02:57] latenitefilms commented on #224
Actually, scrap that, I'm still getting a crash which I assume is related:

[code]

[2018-01-15 03:27] armadsen commented on #224
I don’t think the crash in #223, which I put in a fix for, is related to this one.

Does this only happen with one device?

[2018-01-15 03:32] latenitefilms commented on #224
No, it happens on multiple devices - I'm currently using the PadMIDI iOS Device, and TouchOSC Bridge. Annoyingly, it's not easily reproducible - everything will work fine most of the time, but every now and again it will just crash for no apparent reason.

I'm sure it's a timing issue again - I'm probably destroying the MIKMIDI instance before it's finished doing stuff - but would still be great i

[2018-01-15 04:33] asmagill commented on #224
@latenitefilms , assuming the line numbers in MIKMIDICommand.m due to updates or changes, looking at https://github.com/Hammerspoon/hammerspoon/blob/master/Pods/MIKMIDI/Source/MIKMIDICommand.m#L44 suggests to me that the `commandWithMIDIPacket:` method is being passed a NULL pointer, and looking at https://github.com/Hammerspoon/hammerspoon/blob/master/Pods/MIKMIDI/Source/MIKMIDICommand.m#L66 led

[2018-01-15 12:47] latenitefilms opened #225 "fourteenBitCommand always returns 0?"
I've tried a bunch of different MIDI Devices and iPhone apps, but `fourteenBitCommand` always seems to return `0`, so I'm not sure if there's something wrong with my code, or whether all the devices I'm trying are simply sending 7-bit (0-127) values. Any tips or tricks @armadsen or @asmagill?

[2018-01-15 22:09] armadsen commented on #225
The only devices I've seen that send 14-bit CC messages are Pioneer's DJ controllers (and I've used quite a number of devices). I'm sure there are others, but it's not common. So I think it's a fair assumption that all of your devices are 7-bit only.

[2018-01-15 22:13] latenitefilms commented on #225
@armadsen - Ah, right. No worries! Thanks heaps!

[2018-01-15 22:13] #225 closed

[2018-01-17 08:58] latenitefilms opened #226 "Sending a MIDI Command to a Virtual MIDI Device"
Sorry - me again.

I'm currently using the following Objective-C code to create both a physical MIDI device and a virtual MIDI device, which seems to work great:

[code]

I'm then using the following code in my function to send commands to the created MIDI devices:

[code]

This works great for physical MIDI devices, but `NSArray *destinations = [wrapper.midiDevice.entities valueForKeyPath:@"@unio

[2018-01-17 09:16] latenitefilms commented on #226
Probably relevant?

[2018-01-17 09:38] latenitefilms commented on #226
I THINK I've solved it with:

[code]

[2018-01-17 09:38] #226 closed

[2018-01-19 09:21] latenitefilms opened #227 "Crash - MIKMIDISystemExclusiveCommand.m line 165"
[code]

[2018-01-21 14:53] latenitefilms commented on #224
FYI - I'm still seeing this crash in our Crashlytics.

@asmagill - I've added the suggested debugging line, and am awaiting someone to report it, as I can't reproduce on my machine.

[code]

[2018-01-21 21:39] latenitefilms commented on #224
@asmagill - As usual, you're spot on. Testing on one of our users machines, they're seeing "commandWithMIDIPacket: received NULL packet" written to the Console.

Here's a screen recording: https://vimeo.com/252069288/1bf69de7d1

It seems that the [Palette Software](https://palettegear.com) is sending "invalid" MIDI data, according to [MIDI Monitor](https://www.snoize.com/MIDIMonitor/), which is ca

[2018-01-22 05:38] latenitefilms opened #228 "14bit MIDI Command Question"
I've managed to dig up an old Behringer BCF2000, which supports 14-bit Faders, which is pretty handy - however the results I'm getting are unexpected. For example, the `MIKMIDICommand` `description` returns:

[code]

However, the `MIKMIDIControlChangeCommand` returns:

[code]

Any ideas why the `fourteenBitValue` is acting as if it's 7bit's?

FYI: I'm using the following code to check it:

`NSLog(

[2018-01-22 05:53] latenitefilms commented on #228
Never mind, I just realised that the BCF2000 had the maximum value for the fader set to 128.

[2018-01-22 05:53] #228 closed

[2018-01-22 07:13] latenitefilms opened #229 "Problem with <> includes when including MIKMIDI using CocoaPods"
Sorry for all the questions/issues @armadsen !

I've now got things working so that I can successfully receive 14-bit MIDI commands, which is awesome! Thanks for all your help!

However, I'm still having issues sending 14-bit commands.

MIDI Monitor reports that I'm sending invalid data:

<img width="1268" alt="screen shot 2018-01-22 at 6 11 59 pm" src="https://user-images.githubusercontent.com/22

[2018-01-22 07:14] latenitefilms commented on #229
I should note, that using the above code, 7-bit values work fine - it's just 14-bit values that fail.

[2018-01-22 12:52] Vasa2010 commented on #224
it might be a bug of midiMonitor?
In other projects I was using midiMonitor to test transmission and I got
"Invalid" 7 bits
but the transmission was ok

------------------------------
*www.vasapolli.net* <http://www.vasapolli.net>

Mobile : *0041 (0)78 816 7202*

Skype: *pierluigi_vasapolli*

2018-01-21 22:39 GMT+01:00 Chris Hocking <notifications@github.com>:

[2018-01-22 12:56] latenitefilms commented on #224
@Vasa2010 - Quite possibly! However, in this case, it's causing MIKMIDI to crash, so something is definitely up.

[2018-02-01 01:02] latenitefilms commented on #229
Sorry to be a pest - any ideas @armadsen?

[2018-02-01 01:42] valnenov commented on #140
While trying testing the iOS example on iPhone 7 (target 11.2) I am running into the same runtime error: "2018-01-31 17:31:59.389570-0800 MIDI Soundboard[765:115699] +[CATransaction synchronize] called within transaction
2018-01-31 17:31:59.430226-0800 MIDI Soundboard[765:115699] Unknown class ORSViewController in Interface Builder file. "

Any suggestions on how to make this work?

Thanks, Val

[2018-02-05 17:20] armadsen opened #230 "Add support for sending 14-bit CC messages"
See #229.

[2018-02-05 17:21] armadsen commented on #229
Sorry Chris, was on vacation. I'm not sure sending 14-bit commands has been tested on our end, as it's not something we've had a need for. Here's my guess at what the problem is:

14-bit MIDI control change message actually consist of two separate CC messages, one with the 7 most significant bits, one with the 7 LSbs. MIKMIDI combines these into a single instance of `MIKMIDIControlChangeCommand` u

[2018-02-05 19:28] latenitefilms commented on #229
Legend, thanks heaps! Hope you had a fun and relaxing holiday break!

Unfortunately I don’t think I have the skills to tackle this myself, so I’ll leave you to do your magic when you get a chance. Very much appreciated!

Thanks again!

[2018-02-07 06:34] latenitefilms commented on #224
@armadsen - FYI: I'm still getting this crash for some reason in certain situations.

In this case, I'm sending "Pitch" commands via the TouchOSC iPhone App to CommandPost via CoreMIDI's Network function.

Attached is what MIDI Monitor is showing.

Here's the crash log:

[code]

[2018-02-07 15:53] sigmonky commented on #177
Thanks for your help, fellows!
The swift version of the above:

[code]

[2018-02-07 17:08] armadsen commented on #224
Hi Chris,

Is there any chance you could tell me what I need to set this up on my machine to reproduce? I have and have used the TouchOSC app (used it for testing during development of MIKMIDI very early on in fact).

If I can reproduce this, I'm sure I can easily fix it, and I'm happy to try.

[2018-02-07 21:21] latenitefilms commented on #224
Legend, thanks @armadsen!

Unfortunately though, I'm unable to reliably reproduce the issue, which is annoying.

When it crashes the first time, it's easy to reproduce, as it will crash each subsequent time doing the same thing. However getting it to crash in the first place is proving tricky.

However, I believe @asmagill's explanation [above](https://github.com/mixedinkey-opensource/MIKMIDI/issu

[2018-02-07 21:23] latenitefilms commented on #224
I'm going to close this issue out, as I believe it's a duplicate of the issues discussed here:

https://github.com/mixedinkey-opensource/MIKMIDI/pull/213

[2018-02-07 21:23] #224 closed

[2018-02-07 21:27] latenitefilms commented on #223
@armadsen - Any chance you could merge https://github.com/mixedinkey-opensource/MIKMIDI/commit/c1f7a317cc44ad2375bfcf20b2c02300d333164a into the `master`?

[2018-02-07 21:36] latenitefilms opened #231 "MIDI Machine Control Message Support"
@armadsen - Does MIKMIDI have the ability to receive [MIDI Machine Control](https://en.wikipedia.org/wiki/MIDI_Machine_Control) messages?

I thought they were just standard System Exclusive (SysEx) messages, but although I can see them in MIDI Monitor, as far as I can tell, they're not trigging MIKMIDI in the same way that normal SysEx messages do? Am I missing something?

Thanks in advance!

[2018-02-07 22:54] armadsen commented on #223
@latenitefilms: Done!

[2018-02-07 22:54] #223 closed

[2018-02-07 22:56] armadsen commented on #231
They're not explicitly supported beyond the support for any SysEx message. So, if MIKMIDI isn't receiving them, that seems like it's probably a bug. With the caveat that it's not something I have any direct experience with, so there may be some subtle but valid reason why they're not just plain SysEx messages.

[2018-02-07 22:57] armadsen commented on #231
Where are you seeing them come from?

[2018-02-07 23:34] latenitefilms commented on #223
Legend, THANK YOU!!

[2018-02-07 23:38] latenitefilms commented on #231
I'm generating the MMC from Apple's Logic application.

[2018-02-08 00:40] latenitefilms commented on #223
@armadsen - Sorry to be a pain, but any chance of a new MIKMIDI release with these changes?

I've tried using `pod 'MIKMIDI', :git => 'https://github.com/mixedinkey-opensource/MIKMIDI.git', :branch => 'master'`, but it's introduced a tonne of errors.

[2018-02-08 00:49] latenitefilms commented on #223
@armadsen - FYI: after a bit of playing around with CocoaPods, here's the errors I'm currently getting when using `pod 'MIKMIDI', :git => 'https://github.com/mixedinkey-opensource/MIKMIDI.git', :branch => 'master'` instead of just `pod 'MIKMIDI'`:

<img width="632" alt="screen shot 2018-02-08 at 11 48 03 am" src="https://user-images.githubusercontent.com/22286696/35949512-00773e74-0cc6-11e8-9598-c

[2018-02-08 01:19] latenitefilms commented on #223
@armadsen FYI: after manually changing the angled includes to quotes for the files listed in the previous screenshot, I started seeing this error in Xcode:

<img width="1548" alt="screen shot 2018-02-08 at 12 17 06 pm" src="https://user-images.githubusercontent.com/22286696/35950354-3a2bd4a0-0cca-11e8-8eb4-82bd4138ff63.png">

[2018-02-08 01:27] armadsen commented on #229
@latenitefilms I've pushed a change to support sending 14-bit CC commands to the Issue230 branch (see #230). Do you mind testing it?

[2018-02-08 01:33] latenitefilms commented on #229
Amazing, thank you! I'll test it out now. Stay tuned!

[2018-02-08 02:50] latenitefilms commented on #229
Sorry @armadsen, but unfortunately I'm not having much luck getting the #230 to play nicely with our existing code (which is working great with the [1.6.2](https://github.com/mixedinkey-opensource/MIKMIDI/releases/tag/1.6.2) code). I had to change the angled includes to quotes (as explained [here](https://github.com/mixedinkey-opensource/MIKMIDI/issues/223#issuecomment-363970115)), but as soon as

[2018-02-08 02:53] latenitefilms commented on #229
Here's what MIDI Monitor is showing when it crashes:

<img width="1777" alt="screen shot 2018-02-08 at 1 52 38 pm" src="https://user-images.githubusercontent.com/22286696/35953152-63b58f7a-0cd7-11e8-81b8-3298a3c78dcf.png">

[2018-02-08 03:03] latenitefilms commented on #229
@armadsen - This might offer some clues?

<img width="1898" alt="screen shot 2018-02-08 at 2 00 52 pm" src="https://user-images.githubusercontent.com/22286696/35953435-bb09c4e8-0cd8-11e8-949c-b8a5035ba40d.png">

[2018-02-08 03:30] latenitefilms commented on #229
I've added in:

`if (standardLength < -100) { break };`

...to get around that bug.  No sure what's causing it?

However, I still can seem to send 14-bit messages successfully. 7-bit still works fine.

Here's a snippet of the code I'm using:

[code]

If I add `NSLog(@"%@", controlChange);` inline, I get:

[code]

Thoughts @armadsen ?

[2018-02-08 04:03] latenitefilms commented on #229
Ummm... it looks like MIKMIDI is sending MIDI data, but the BCF2000 isn't acting on it.

Do these numbers look right to you?

<img width="519" alt="screen shot 2018-02-08 at 2 39 12 pm" src="https://user-images.githubusercontent.com/22286696/35955022-15041ee6-0ce1-11e8-9444-09fb26767efa.png">

[2018-02-08 04:10] latenitefilms commented on #229
Sorry for all the messages! One potentially interesting thing I just noticed is that even if MIKMIDI is fed a channel of 2, Midi Monitor says it's sending out on Channel 1. Maybe related?

<img width="733" alt="screen shot 2018-02-08 at 3 09 32 pm" src="https://user-images.githubusercontent.com/22286696/35955206-1c2980b6-0ce2-11e8-90d8-a1d17c71962e.png">

[2018-02-08 04:27] armadsen commented on #229
That crash isn't a "real" crash. It's Xcode's Undefined Behavior Sanitizer catching an integer overflow. It **is** a (usually harmless) bug in `+[MIKMIDICommand commandsWithMIDIPacket:]`, which I'm working on fixing right now.

Not sure about the incorrect channel yet, but I'm going to take it one step at a time :).

[2018-02-08 04:36] armadsen opened #233 "MIKMIDI fails to receive sysex messages (sending works)"

[2018-02-08 04:40] armadsen commented on #233
Failing test is now there in the form of `+[MIKMIDICommandTests testCreatingSysexFromMIDIPacket]`.

[2018-02-08 04:52] armadsen commented on #233
Should be fixed now, though I don't have any devices that send SysEx handy at the moment, so needs more testing.

[2018-02-08 04:53] armadsen commented on #231
@latenitefilms: I found a bug while working on #229 that I think was preventing SysEx messages from being received. I've put in a fix (see #233) and would appreciate testing there.

[2018-02-08 04:54] armadsen commented on #229
I've pushed a fix to master for the integer overflow that was causing the crash. Can you see if it's fixed for you? Then let me know if the channel being wrong is still occurring.

[2018-02-08 11:49] latenitefilms commented on #229
@armadsen - When using the latest develop code, I still needed to change the angled includes to quotes - is this something you can fix in develop too?

I now get this error/warning:

<img width="1898" alt="screen shot 2018-02-08 at 10 48 30 pm" src="https://user-images.githubusercontent.com/22286696/35971485-38107f24-0d22-11e8-9a49-652c330bd7c2.png">

[2018-02-08 12:17] latenitefilms commented on #233
@armadsen - Unfortunately, as far as I can tell, I'm still not getting any MIDI callbacks from MIKMIDI, even though I'm seeing data flying around in MIDI Monitor.

<img width="1386" alt="screen shot 2018-02-08 at 11 05 42 pm" src="https://user-images.githubusercontent.com/22286696/35972108-9c11c1e8-0d24-11e8-9cd6-a5b2eb787dad.png">

[2018-02-08 12:18] latenitefilms commented on #233
FYI - I'm not seeing any of these hit MIKMIDI for whatever reason:

<img width="980" alt="screen shot 2018-02-08 at 11 18 14 pm" src="https://user-images.githubusercontent.com/22286696/35972530-5c222bc0-0d26-11e8-8a01-a5dae2739b0d.png">

[2018-02-08 18:47] armadsen commented on #229
@latenitefilms - I don't see this problem with needing to change angled imports to quotes in a local test with a new project setup to install MIKMIDI as the only pod. Podfile as follows:

[code]

For what it's worth, MIKMIDI is inconsistent about quotes vs. angled includes for historical reasons, but the "correct" way to do #imports in a framework's public headers is with `<>` not quotes.

Is it p

[2018-02-08 19:15] armadsen opened #234 "UBSan flags misaligned pointer use in -[MIKMIDIInputPort interpretPacketList:handleResultingCommands]"
![screenshot](https://user-images.githubusercontent.com/22286696/35971485-38107f24-0d22-11e8-9a49-652c330bd7c2.png)

The `packet` pointer is advanced by calls to `MIDIPacketNext()`. It is perhaps worth noting that it has different behavior depending on whether it's built for ARM or Intel, and mentions the need for MIDIPacket to be 4-byte aligned on ARM.

I've been unable to reproduce this so far w

[2018-02-08 19:16] armadsen commented on #229
This latest error is another thing that the Undefined Behavior Sanitizer is flagging, rather than a "real" error. I'm working on tracking it down, but it's not clear to me what's causing it exactly or how to fix it, nor have I been able to reproduce it.

In any case, you might try running with the Undefined Behavior Sanitizer turned off for now :). It's turning up lots of nice issues for me to fix

[2018-02-08 19:35] armadsen commented on #234
The documentation for `MIDIPacketList` also specifically notes that `MIDIPacket` is unaligned on Intel (and PowerPC):

[2018-02-08 20:28] latenitefilms commented on #229
@armadsen Not sure about the angled imports - it's no doubt some Xcode setting we've got set somewhere.

We're currently just using:

`pod 'MIKMIDI'`

...which works perfectly. However when we change to:

`pod 'MIKMIDI', :git => 'https://github.com/mixedinkey-opensource/MIKMIDI.git', :branch => 'master'`

...we get the errors.

Looks through some of your recent commits though, the only files that

[2018-02-08 21:33] armadsen commented on #234
Filed rdar://37363662

[2018-02-08 22:15] latenitefilms commented on #229
@armadsen - Ok, so something is definitely going funky with the command values.

Here's a callback when I move a slider on a Behringer BCF2000. It SHOULD be channel 10, however as you can see in the description coming from MIKMIDI - it's reporting as 9:

<img width="1631" alt="screen shot 2018-02-09 at 9 01 16 am" src="https://user-images.githubusercontent.com/22286696/36000893-a140c660-0d78-11e8-

[2018-02-08 22:31] latenitefilms commented on #229
It's worth noting that, even though MIKMIDI displays the wrong channel in the description when dealing with 7-bit commands - it still works correctly. For example, if I move a fader on the BCF2000, then capture the callback results, move the fader, then send the callback results to the BCF2000, the fader will move into the correct location.

<img width="1874" alt="screen shot 2018-02-09 at 9 27 05

[2018-02-08 22:37] armadsen commented on #229
I think this might just be an off by one error in the way MIDI Monitor displays channel. Off the top of my head, I seem to remember MIDI Monitor displaying channels 1-16, as opposed to 0-15. MIKMIDI (and the underlying MIDI spec) use 0-15 (channel is a 4-bit value). So channel 0 in MIKMIDI (and CoreMIDI itself) is "channel 1" when displayed in MIDI Monitor. Does that make sense?

[2018-02-08 22:47] latenitefilms commented on #229
@armadsen - MIDI Monitor matches what I've set in my physical MIDI devices though?

But yeah, that makes sense if MIKMID's channel 0 is actually channel 1 in MIDI "plain English". I can just do the "translation" in my own app's UI.

However, what about channel 0 in MIDI ("plain English")? I could be completely wrong, but I was under the impression channel 0 in MIDI talk was a "all/broadcast" chann

[2018-02-08 23:05] latenitefilms commented on #229
@armadsen - Could the `channel` be accidentally getting "lost", when you're splitting up the LSB and MSB's? I've tried looking through the code, but nothing obvious is jumping out.

[2018-02-08 23:10] armadsen commented on #229
Yeah, that's definitely plausible. I'll dig into that. As for 0 being a broadcast channel, not to my knowledge. There are 16 possible MIDI channels, stored as a 4-bit number (the second nibble of the first byte of the MIDI message for channel voice messages). 0-15 in code, 1-16 in plain English. I'm not sure what the "All" in that screenshot does, but my guess is that it listens to any channel for

[2018-02-08 23:38] latenitefilms commented on #229
@armadsen - Good to know, thanks for the detailed explanation! I'll revise our code.

I'll keep digging at the channel weirdness as well as see what I can uncover.

[2018-02-09 00:10] armadsen commented on #229
@latenitefilms - I just pushed a fix (and a regression test) for the channel issue to the Issue230 branch. I was indeed dropping the channel when splitting a 14-bit command.

[2018-02-09 00:18] latenitefilms commented on #229
@armadsen - Woooohooo! That's fixed it! THANK YOU!!

Did you have any further thoughts on the angled imports issue? It would be really handy if I didn't have to manually change these four files each time I'm testing if possible:

<img width="626" alt="screen shot 2018-02-09 at 11 17 10 am" src="https://user-images.githubusercontent.com/22286696/36005249-dddcf154-0d8a-11e8-99f4-072c516a8f7f.png">

[2018-02-09 00:21] latenitefilms commented on #229
Unless @asmagill has any ideas in regards to the angled imports issue? Maybe there's some kind of Xcode setting that's triggering the error, or a special way that Hammerspoon is handling pods?

[2018-02-09 00:32] armadsen commented on #229
Can’t try this myself right now, but I’m curious to know what happens if you turn on the use_frameworks option in your podfile.

[2018-02-09 00:39] latenitefilms commented on #229
@armadsen - Adding in `use_frameworks!` now gives me:

<img width="1898" alt="screen shot 2018-02-09 at 11 37 10 am" src="https://user-images.githubusercontent.com/22286696/36005842-b85b1b1a-0d8d-11e8-9e04-0038d6c0d8e6.png">

<img width="1898" alt="screen shot 2018-02-09 at 11 38 39 am" src="https://user-images.githubusercontent.com/22286696/36005853-cf408036-0d8d-11e8-9d54-effb4c50239b.png">

[2018-02-09 15:10] latenitefilms commented on #230
@armadsen - This all seems to be working now! THANK YOU! If you could merge into `master` that would be awesome. Thanks again!!

[2018-02-09 15:12] latenitefilms commented on #231
@armadsen FYI - I'm still not having any luck with MMC messages. Not sure why?

![mmc](https://user-images.githubusercontent.com/22286696/36034310-c2ed62fc-0e07-11e8-92b6-f946e7d51f1f.jpg)

[2018-02-09 21:03] armadsen commented on #230
Merged into master.

[2018-02-09 21:03] #230 closed

[2018-02-09 21:05] armadsen commented on #229
The original issue here, sending 14-bit CC commands was addressed by #230 and has been fixed, so I'm renaming the issue to track the CocoaPods problem.

[2018-02-09 21:10] latenitefilms commented on #229
Legend, thanks!

Does it cause you any issues on your end if you change the four files from angled to quotes? Looking through past commits, it looks like in most cases they were previously quotes anyway?

[2018-02-09 21:17] armadsen commented on #229
To be honest I'm not sure. The last change that was made from quotes to angle brackets that I noticed was done by a colleague of mine at MIK (@PatrickMIK), presumably to fix a problem using MIKMIDI in a Mixed In Key app. I'm not at MIK anymore, and not sure what the details on that change were. Patrick may be able to chime in.

I'm still planning to check this out. As I said, it works fine when in

[2018-02-09 21:54] latenitefilms commented on #229
Understood.

Thank you for EVERYTHING! HUGELY appreciated!

[2018-02-11 03:55] asmagill commented on #229
In standard C, the angle brackets tell the pre-processor to look in the standard include/library directories for the header files and libraries to link against, while quotes are used to designate files relative to the source code's directory.  I'd assuming Objective-C inherits this behavior, but may have it's own quirks or search paths that I'm not as familiar with.

In some build environments, yo

[2018-02-11 21:23] latenitefilms commented on #229
Thanks, as always, for the detailed explanation @asmagill - all makes perfect sense, however, I'm still not sure of the best way to solve this specific problem?

Obviously, ideally we want to be able to merge in MIKMIDI into Hammerspoon without any manual code tweaking - which we can currently do with the [MIKMIDI 1.6.2 release](https://github.com/mixedinkey-opensource/MIKMIDI/releases/tag/1.6.2).

[2018-02-12 07:44] valnenov opened #236 "Unknown class ORSViewController in Interface Builder file"
Using iOS 11.2 and the Objective c source code.
While running the SoundBoard example on iPhone 7 and iPhone 8 simulator I get the following runtime error:

2018-02-11 23:33:05.084855-0800 MIDI Soundboard[6075:1165422] +[CATransaction synchronize] called within transaction
2018-02-11 23:33:05.148423-0800 MIDI Soundboard[6075:1165422] Unknown class ORSViewController in Interface Builder file.

Whys

[2018-02-12 23:49] armadsen commented on #229
I finally was able to play with this a little today in Hammerspoon. I still don't quite get this, but the only way I could figure to fix it was indeed to revert back to quoted #imports in those few files. I've done that, but if it breaks anything for MIK, we'll have to find another solution.

[2018-02-12 23:51] latenitefilms commented on #229
Legend, thanks @armadsen !

[2018-02-12 23:51] #229 closed

[2018-02-12 23:53] armadsen commented on #231
I added a test for this in 2036278. However, the test passes. I'm wondering if it's potentially related to SysEx chunking (which that test doesn't exercise).

I don't have Logic to test with.

@latenitefilms: Are you able to put a breakpoint in `-[MIKMIDIInputPort interpretPacketList:handleResultingCommands:]` and single step through to see if something goes off the rails? If the MMC message is re

[2018-02-13 00:13] latenitefilms commented on #231
No problemo! I'll try and test for you later today!

Thanks for all your help and hard work!!

[2018-02-14 21:06] latenitefilms commented on #229
FYI: If this does eventually become an issue for MIK, I just noticed this when I did `pod update MIKMIDI`:

Thoughts @asmagill?

[2018-02-14 21:28] latenitefilms commented on #231
@armadsen - Sorry, this is probably just my lack of Xcode skills, but adding what I think is a breakpoint doesn't seem to do anything:

![screen shot 2018-02-15 at 8 25 53 am](https://user-images.githubusercontent.com/22286696/36228995-ebc531d4-1229-11e8-88cb-441e56d07e9e.png)

Here's what MIDI Monitor is seeing:

![screen shot 2018-02-15 at 8 26 39 am](https://user-images.githubusercontent.com/22

[2018-02-14 21:35] latenitefilms opened #237 "Misaligned Pointer Use"
![screen shot 2018-02-15 at 8 34 59 am](https://user-images.githubusercontent.com/22286696/36229412-326542ae-122b-11e8-9a13-7f83fe4da261.png)

[2018-02-14 21:39] latenitefilms commented on #237
Opps, sorry - duplicate of https://github.com/mixedinkey-opensource/MIKMIDI/issues/234

[2018-02-14 21:39] #237 closed

[2018-02-14 22:07] armadsen commented on #229
I saw that as well, but fixing it didn't fix the problem with importing MIKMIDI.

[2018-02-14 22:08] armadsen commented on #231
Chris, try putting the breakpoint on 328, inside the body of the method, instead.

[2018-02-14 22:16] latenitefilms commented on #231
@armadsen - No problemo - will try again later today.

[2018-02-15 03:28] armadsen opened #238 "Constants in MIKMIDISystemExclusiveCommand don't work nicely in Swift."
The `#define`d constants in MIKMIDISystemExclusiveCommand are bridged into Swift as `Int32`s. However, the properties they're to be used for, `manufacturerID` and `sysexChannel`, are `UInt32` and `UInt8`, respectively.

This means a simple assignment in Swift produces a compiler warning, and they have to be converted to the correct types before being used:

[code]

We should convert these to real

[2018-02-15 11:54] latenitefilms commented on #231
Nope, still nothing when I trigged MMC messages from Logic. However, MIDI Monitor is still seeing things:

<img width="980" alt="screen shot 2018-02-15 at 10 50 52 pm" src="https://user-images.githubusercontent.com/22286696/36255345-c00536b0-12a2-11e8-89a1-6f8c201dbdb3.png">

Unless I'm doing something really silly?

If I just trigger normal MIDI commands however, the breakpoint works:

<img width

[2018-02-15 12:08] latenitefilms commented on #231
@armadsen - Actually... maybe I'm just completely screwing things up myself...

If you look at the below screenshot, it says "To Session 1" when I press play in Logic, and "From Session 1" when I trigger PadMIDI on my iPhone.

<img width="1107" alt="screen shot 2018-02-15 at 11 01 38 pm" src="https://user-images.githubusercontent.com/22286696/36255725-44695ee4-12a4-11e8-8fa9-e4bb636b16cb.png">

It

[2018-02-15 16:50] armadsen opened #239 "Setting MIKMIDISystemExclusiveCommand.sysexChannel can delete sysexData"
This will fail:

[code]

[2018-02-15 17:58] armadsen commented on #239
Fixed by #241.

[2018-02-15 17:58] #239 closed

[2018-02-15 18:35] armadsen commented on #231
I setup a test for this, and it seems to be working fine, so I think there is indeed something wrong with the MIDI routing setup you're using.

I wrote the attached project which present a virtual source called "MMC Sender". When you click the "Send MMC" button, it just sends a hardcoded MMC message (taken from one of your screenshots) to that endpoint. In MIDI Testbed, I connect to that source. I

[2018-02-18 11:16] latenitefilms commented on #231
Thanks so much for all your help @armadsen - HUGELY appreciated!

Sorry for such a run-around! Thanks so much for your detailed explanation!

Your "MMC Sender" app seems to work great - which I press the "Send MCC" button, Logic jumps to 00:36:16.00. However, this has always worked for me using MIKMIDI & Hammerspoon - the issue I've been having is getting Logic to send MMC messages to MIKMIDI & Ha

[2018-02-21 23:00] armadsen commented on #233
I believe this is fixed. Let me know if you don't think so.

[2018-02-21 23:00] #233 closed

[2018-02-21 23:00] armadsen commented on #231
Any luck?

[2018-02-21 23:02] armadsen commented on #227
Is this still happening?

[2018-02-21 23:38] latenitefilms commented on #233
@armadsen - Will do, thank you!!

[2018-02-21 23:40] latenitefilms commented on #231
Sorry @armadsen - I've been flat out.

Everything you said makes sense though, so I just need to do some testing. I might try modifying your example app you posted to see if I can get it to receive MMC messages from Logic by creating a new virtual destination endpoint.

I'll close this issue for now, and let you know if I have any problems! Thanks again!

[2018-02-21 23:40] #231 closed

[2018-02-21 23:47] latenitefilms commented on #227
@armadsen - To be honest, I'm not sure. It's a tad confusing now that I've got so many different test MIKMIDI branches happening.

Any chance you could push out 1.6.3, so that I can do a "fresh slate" on both CommandPost and Hammerspoon, and then I can post new issues if issues arise?

[2018-02-23 11:08] latenitefilms commented on #231
MidiPipe to the rescue!

<img width="1791" alt="screen shot 2018-02-23 at 10 05 11 pm" src="https://user-images.githubusercontent.com/22286696/36591409-0aef4adc-18e6-11e8-9c1f-e827dfba7e4c.png">

[2018-02-23 11:11] latenitefilms commented on #227
I'm just going to close this issue for now, and will reopen if the error re-surfaces. So far so good!

[2018-02-23 11:11] #227 closed

[2018-02-25 00:55] latenitefilms opened #242 "sysexData doesn't contain all data?"
I have a Sysex Message with the following data (as per MIDI Monitor):

`F0 7F 7F 06 44 06 01 21  00 14 00 00 F7`

The `description` from MIKMIDI gives me:

[code]

However, when I convert the `MIKMIDISystemExclusiveCommand` `sysexData` to a UTF8 string, it gives me less data than I expect:

`sysexData = "D!"`

I'm using this code:

[code]

Am I missing something @armadsen ?

[2018-02-25 00:56] latenitefilms commented on #242
Actually, if I add:

`NSLog(@"%@", result.sysexData);`

...it gives me:

`<06440601 21000b0c 00>`

So I think something must be going funky in the way I'm converting things to plain text.

[2018-02-25 02:35] latenitefilms commented on #242
I'm going to close this issue, as I don't think the issue lies in MIKMIDI. Thanks!

[2018-02-25 02:35] #242 closed

[2018-02-26 06:09] armadsen commented on #242
Hi Chris. The issue here is that when you do `[[NSString alloc] initWithData:sysexData encoding:NSUTF8Encoding]`, `NSString` expects it to be UTF8-encoded text, which it's not. If you want to convert it to text representation of the hex values, you have to do something a little more complicated. Or, you can call `-description` on the `sysexData` `NSData` object (which is what NSLog does), and you'

[2018-02-26 06:11] latenitefilms commented on #242
All good - understood - thanks heaps @armadsen! I think I've got it working now!

[2018-02-26 06:11] armadsen commented on #221
In order to get sound out as you're recording, you'll also need to send the MIDI messages to a synthesizer. The simple thing to do is to create an instance of `MIKMIDISynthesizer`, and call its `-handleMIDIMessages:` method in addition to calling `recordMIDICommand:`:

[code]

[2018-02-26 06:11] #221 closed

[2018-03-07 11:35] aj-bmdi commented on #131
I've just submitted a PR to implement this: https://github.com/mixedinkey-opensource/MIKMIDI/pull/244.

[2018-03-17 19:26] armadsen opened #245 "Make tests run on iOS as well"
There are some places where code paths differ between iOS and macOS. Currently, the unit tests only run against the MIKMIDI macOS target. We should make them work on iOS too.

[2018-03-17 19:28] armadsen opened #246 "Add tests for MIKMIDIMapping"
See also Issue #245.

[2018-03-17 19:28] armadsen commented on #131
Fixed by #244.

[2018-03-17 19:28] #131 closed

[2018-03-17 22:36] armadsen commented on #233
Fixed by #243.

[2018-03-17 22:41] #238 closed

[2018-03-18 23:41] pshannon1000 opened #247 "Error when running MIKMidi Swift project with Logic X open?"
MIKMidi is working beautifully in a simple Swift project that loads a midi file and triggers a callback function and subsequent animation based on events from an MIKMidiSequencer.

Weirdly, I am 100% consistently unable to run my application if Logic X is open.  The application has not thrown a bug with Logic X is not open.  Any ideas why this could be?

Screenshot of bug attached.

Thank you,
Pet

[2018-03-19 00:56] #247 closed

[2018-03-25 20:58] latenitefilms opened #248 "Crash - CoreMIDI - XServerMachPort::ReceiveMessage(int&, void*, int&)"
I'm not sure if this is remotely helpful, so please feel free to close this issue if it's impossible to debug:

[code]

[2018-03-29 17:29] armadsen commented on #193
Because this tripped someone else up, I'm leaving a comment. NeverSleeper's last comment here is unfortunately not quite correct. MIDITimeStamp is an alias for UInt64, and is in the same units as the value returned by mach_absolute_time() (which is *not* seconds). You’re initializing it with CACurrentMediaTime(), which is mach_absolute_time converted to seconds. Unfortunately, the compiler doesn’t

[2018-04-08 22:31] armadsen opened #249 "+[MIKMIDICommand (MIKMIDIChannelEventToCommands) MIKMIDIChannelEventToCommands:clock:] doesn't work for polyphonic key pressure and channel pressure events."

[2018-04-08 22:43] armadsen commented on #249
Fixed by #250.

[2018-04-08 22:43] #249 closed

[2018-04-18 10:05] aj-bmdi opened #251 "Making Device Manager's outputPort method public"
I'm working to integrate MIKMIDI into an audio app for its mapping features. But another feature I'm implementing is MIDI clock output, running from the app's AVAudioEngine graph via a custom AU v3 plugin. For reasons of performance, Core MIDI is being used directly within the plugin, and thus I need the reference of the MIDI destination port.

I would much prefer MIKMIDI to handle retrieving all

[2018-04-27 03:08] KellyHwong opened #252 "Rewrite the library in Swift"
Using OC libraries is ok when coding with Swift. But how about update the library to Swift? I think that's more integrated. Anyone with same idea?

[2018-04-27 03:13] armadsen commented on #252
Thanks for the suggestion.

Mixed In Key’s own use of MIKMIDI is almost entirely from Objective-C, so we have little incentive to do that ourselves. That’s doubly true since we’d have to maintain the ability to use the library from ObjC. So no structs, rich enums, etc.

That said, I am interested in making sure MIKMIDI is as nice to use in Swift as possible. Any suggestions to that end are most we

[2018-04-28 02:26] kljsandjb opened #253 "speed changing's availability"
Hi,

Here is the thing, I would like to deal with the situation where I change the playing speed rates, 80% for example. The truth is that only way I could find and attempt is set the property in class MIKMIDISequencer `@property (nonatomic) Float64 tempo;`.

However it means that I've overwritten this tempo and when the .mid file contains different tempos, the sequencer won't read actual tempos f

[2018-05-05 08:12] kljsandjb commented on #253
Resolved by myself:)

[2018-05-05 08:12] #253 closed

[2018-05-08 02:09] kljsandjb commented on #253
Hi,

I would like to pull a request in the future, a very tiny change, and you can examine it to check if it works well.

Thanks.

[2018-05-08 02:48] armadsen commented on #253
Sounds great. I’ll watch for it.

[2018-07-01 23:07] armadsen commented on #252
Closing as won't fix.

To expand a little more, another reason for not doing this is that MIKMIDI is heavily reliant on CoreMIDI, which is a C API that makes heavy use of things like function pointers, raw buffer pointers, etc. In my opinion, Objective-C continues to be a much nicer choice when working with APIs like that.

A Swift-first MIDI framework would be great, but it has little benefit for

[2018-07-01 23:07] #252 closed

[2018-07-01 23:08] armadsen commented on #251
Fixed by #254.

[2018-07-01 23:08] #251 closed

[2018-07-01 23:09] armadsen commented on #248
Pretty hard to debug this as there's no MIKMIDICode in any thread's call stack (and the only CommandPost code is the Crashlytics crash handler code). Closing for now, but always interested if this continues to crop up and/or better debugging info becomes available.

[2018-07-01 23:09] #248 closed

[2018-07-01 23:14] #236 closed

[2018-07-01 23:14] armadsen commented on #236
Fixed.

[2018-07-06 06:31] pasifus opened #255 "Send MIDICommand with timestamp"
**branch:** master

I'm trying to send MIDICommand noteOn and noteOff to MIKMIDIDestinationEndpoint/MIKMIDIClientSourceEndpoint but get from other app only noteOn.

Code example: (press noteOn now and after 0.5sec press off)

[code]

Tried to send over bluetooth and send between apps.
For testing used MIDI Wrench iOS app.

[2018-08-22 13:08] latenitefilms opened #256 "Crash - MIKMIDISystemExclusiveCommand.m line 166"
FYI:

[code]

[2018-08-22 13:39] PatrickMIK commented on #256
- (NSData *)sysexData
{
	NSUInteger sysexStartLocation = [self sysexDataStartLocation];
	NSInteger length = MAX(0u, [self.data length]-sysexStartLocation-1);
	return [self.data subdataWithRange:NSMakeRange(sysexStartLocation, length)];  << EXCEPTION <<
}

potentially an unsigned / underflow problem for the 'length' parameter?

p.

[2018-10-13 16:10] #256 closed

[2018-10-13 16:15] armadsen commented on #207
Fixed by #218.

[2018-10-13 16:15] #207 closed

[2018-11-03 21:13] #217 closed

[2018-11-15 15:40] mlostekk opened #261 "`interpretPacketList` processed in wrong order"
I am testing the BTLE together with MIKMIDI and I am observing some strange results.

I am having an device that sends a long list of handshake commands via BTLE upon connection. All of those are are NRPNs in the following style

[code]

Which works fine 100% for the USB connection of the device.

But the same device & data received with via BTLE leads to some values mixed up that looks like this

[2018-11-17 19:33] mlostekk opened #263 "Mutliple connections with BTLE"
When i am connecting a device via BTLE, and then disconnecting it and reconnecting it again. Its is connected twice. I am seeing a new token generated in the `MIKMIDIInputPort` for the same handler again. So each not then incoming via BTLE-MIDI is forwarded twice to my handler block.

How can I avoid this? Is it possible to disable duplicate handlers for the same MIDI device?
(I am using the `CABT

[2018-11-19 06:10] armadsen commented on #261
It doesn't seem like the order is actually wrong. It seems like the problem is that sometimes messages are being dropped. In your example, the MSB message (control number 99) for the second NRPN isn't being received at all. Do I have that wrong?

It sounds like this is on iOS? Do you see this with e.g. MIDI Testbed running on your Mac? You mention it not happening with MIDI Monitor, but I'm curiou

[2018-11-19 06:50] armadsen commented on #255
What you've posted looks fine. I'm not sure why it wouldn't work. I'm going to try to reproduce here.

[2018-11-19 07:16] armadsen commented on #255
I'm not able to reproduce this with the attached quick test project running on macOS connected to MIDI Wrench on iOS via Bluetooth. I see the note on command show up in MIDI Wrench, followed half a second later by the note off command just as you'd expect.

[MIDITest.zip](https://github.com/mixedinkey-opensource/MIKMIDI/files/2594134/MIDITest.zip)

If you're still seeing this (I realize this issue

[2018-11-19 07:16] #255 closed

[2018-11-19 16:22] armadsen commented on #263
So far I've been unable to reproduce this using MIDI Wrench on an iOS device. Is there any chance you could share minimal sample code that reproduces it? I'm also curious to know what device you're connecting via BT LE.

[2018-11-19 16:29] armadsen commented on #263
Nevermind, I figured out how to reproduce it. Working on a fix.

[2018-11-19 17:02] armadsen commented on #263
This should be fixed in master now. Would appreciate you verifying.

[2018-11-19 17:02] #263 closed

[2018-11-20 21:06] mlostekk commented on #263
Brilliant! Thanks for this quick fix!

[2018-11-20 21:07] mlostekk commented on #261
Indeed it seems like the value of the NRPN is sometimes missing. Unfortunately i cannot share which device it is. But i will let you know once its announced!

I will do some futher testing and will get back to you as soon as i have some results!

[2018-11-25 16:14] mlostekk commented on #261
Well, I guess it is not related to MIK MIDI. I have debugged it down to `MIKMIDIPortReadCallback` which handles the CoreMidi packets. And the packets are missing there already. So I will close that because this leads me to the assumption that its not related to MIKMIDI.

Thanks anyways! I will share the device and app once its announced!

[2018-11-25 16:14] #261 closed

[2018-12-03 18:17] pshannon1000 commented on #176
Hi, I am still experiencing this bug using the MIKMIDI framework in an app - notes under 150 ms in length do not turn off when the MIKMIDISequence is played.  I've been trying to work around it by manually increasing the note length in Logic, but its started to really be a problem.  I am really hoping there might be some way to fix it, so that even very short notes still turn off?  Thank you!  Pet

[2019-01-13 15:01] mlostekk opened #264 "MIDIPacket timestamps has jittering offset for BTLE"
Hello, I am using MIKMIDI heaviliy across several applications and have a really strange issue now.

I have a device that is capable of MIDI via USB and MIDI via BTLE. But i get strange effects with the timestamps of those incoming midi packets.

So first of all, this is the extension i was doing to measure and log the incoming timestamps in seconds

[code]

(_I am logging it out via NSLogger to b

[2019-01-24 07:37] tamir-maoz opened #265 "MIKMIDIDeviceManager - hardware device only"
Hi,
I'm using MIKMIDIDeviceManager to manage my MIDI device connection. i would like to connect only to hardware devices (connected with cable) and not to Network / BT devices.
I could not find any way to filter out from "MIKMIDIDeviceManager.availableDevices" these BT / Network connection.
i'm currently checking .isVirtual and the entities.count > 0 but this is not sufficient since BT is still fo

[2019-03-05 13:59] aj-bmdi commented on #191
I'm suffering the same issue here, though this time with KVO. My code:

    virtualDestinationsObservation = MIKMIDIDeviceManager.shared.observe(\.virtualDestinations, changeHandler: { [weak self] (deviceManager, change) in
        self?.tableView.reloadData()
    })

The handler is only called if my app was started *after* any others presenting a virtual destination. It is not called when another

[2019-03-11 16:09] magneter opened #266 "I could not find pre-built MIKMIDI.framework.zip in release page , only source code in there"
could you please reput a MIKMIDI.framework.zip link in release page?Thanks.

[2019-03-15 09:58] dimklo opened #267 "Help needed: How to schedule playhead jump from one musicTimestamp to another?"
Is it possible somehow to tell the MIDIMIDISequencer so it should jump from some specified musicTimestamp to another musicTimestamp. So if my sequence contain several sections I could make quantized jumps between sections.

[2019-03-29 14:34] johndpope commented on #267
You can try digging into these methods

MusicPlayer p;
       MusicPlayerSetTime(p, timeOffset);
        MusicPlayerStart(p);

[2019-03-29 19:37] dimklo commented on #267
I need the jumps to be very precise. It is not possible to achieve this with MusicPlayer API.

[2019-03-29 19:44] dimklo commented on #267
Another big issue for me with the Apple’s MusicPlayer API is you can not set a loop to an arbitrary range. The loop can be only at the end of the track.

[2019-03-29 22:05] johndpope commented on #267
Did you try https://audiokit.io/ ?

[2019-03-29 22:46] johndpope commented on #267
Also if you have an apple account you can raise a tech support question.

[2019-03-30 07:06] johndpope commented on #267
Looking through some of my code - I spotted some methods I have around setting the CABarBeatTime - this maybe your ticket.

- (MusicTimeStamp)currentTime {
    MusicTimeStamp now = 0;
    MusicPlayerGetTime(p, &now);
    return now;
}

- (CABarBeatTime)currentBeat {
    MusicTimeStamp beats;
    MusicSequenceGetBeatsForSeconds(s, [self currentTime], &beats);
    CABarBeatTime outBarBeatTime;
    M

[2019-03-31 10:09] Vasa2010 commented on #267
The issue about midi Loop is a very old unresolved issue. I posted to
support already 7 years ago, then with new framework, the problem remains.
with audiokit is still there because audiokit lays on the same
coremidi engine.
To apple support, I posted very clear source code and xcode project made it
for this purpose.
I never get back a clever answer and the issue is still there
At end, I built my

[2019-03-31 21:51] johndpope commented on #267
I found this midi package over the weeken in c code. With swift can apply a wrapper around - I haven’t used it but it looks super impressive. Need to see if a basic player can be extracted out https://github.com/adamnemecek/alchemusica/tree/master/MD_package

[2019-03-31 21:53] johndpope commented on #267
https://github.com/adamnemecek/alchemusica/blob/master/MD_package/MDPlayer_MacOSX.h

[2019-03-31 22:09] johndpope commented on #267
So re-reading original question, did you consider building a new midi file by pasting selections of other midi files together? It’s maybe not ideal but would work. I have some code to slap midi notes into midi file / you can then (re)load to (a new) sequencer.

[2019-04-01 10:35] johndpope commented on #265
see MIKMainWindowController.m in MIDI Files Testbed
[code]

[2019-04-08 03:53] armadsen commented on #176
Sample project (provided by @pshannon1000).
[MIKMIDI Short Notes Sequence Workspace.zip](https://github.com/mixedinkey-opensource/MIKMIDI/files/3052545/MIKMIDI.Short.Notes.Sequence.Workspace.zip)

[2019-07-30 21:41] pshannon1000 commented on #176
Hello, I found that commenting out this single line from MIKMIDISequencer.m seems to fix the problem for me.

I don't understand all of the inner working of MIKMIDI, but as I've personally worked with MIDI, I've started to understand that what seems like a very certain and structured set of data over time, actually becomes more like target practice when you start trying to play back the data in ti

[2019-08-25 07:33] armadsen opened #269 "Add API to ease dealing with sequencer playback in seconds in addition to beats (MusicTimeStamps)"

[2019-09-02 00:34] armadsen commented on #269
Implemented in #270

[2019-09-02 22:03] armadsen opened #271 "Move off of AUGraph in MIKMIDISynthesizer"
AUGraph is (soft?) deprecated in favor of AVAudioEngine, so we should update MIKMIDISynthesizer to use AVAudioEngine instead. Not 100% what the status of Core Audio APIs outside of AUGraph is, but they don't appear to be deprecated, and outside of MIKMIDISynthesizer and its subclasses, we really only use stuff that overlaps directly with Core MIDI, so the impact here should be relatively small.

T

[2019-09-03 05:07] armadsen opened #272 "Fix methods that bridge into Swift with an error: Void argument."
There are a number of methods that bridge into Swift incorrectly, resulting in an `error: ()` argument that doesn't make sense. I think this might be a compiler bug, but we can work around it with explicit Swift name declarations in the headers. See for details https://stackoverflow.com/questions/49482841/how-to-bridge-objective-c-initwitherror-method-into-swift

[2019-09-03 05:08] #272 closed

[2019-10-08 05:20] armadsen opened #273 "Add rate property to MIKMIDISequencer"
This should allow playing back a sequence at a fixed relative rate without overriding the entire tempo track (as `tempo` does). See e.g. `AVAudioSequencer.rate`.

[2019-11-04 04:38] armadsen opened #275 "-[MIKMIDISequence tempoEvents] is slow"
<img width="781" alt="Screen Shot 2019-11-03 at 9 38 41 PM" src="https://user-images.githubusercontent.com/1057175/68099895-4f3b4a00-fe82-11e9-9cf4-6ec55502ae63.png">

[2019-11-04 20:50] armadsen opened #276 "Remove MIKMIDITrack's dependence on MusicTrack"
This has implications for #275 as well as #133, making both of those easier to solve. This would require either deprecating/removing or at least reimplementing the `musicTrack` property on `MIKMIDITrack`. It would likely make sense to do this at the same time as removing `MIKMIDISequence`'s reliance on `MusicSequence` (#277).

[2019-11-04 20:51] armadsen opened #277 "Remove MIKMIDISequence's dependence on MusicSequence"
See #276.

[2019-11-05 06:05] armadsen commented on #275
Fixed by e785b79.

[2019-11-05 06:05] #275 closed

[2019-11-19 12:56] dimklo opened #281 "Possible bug in MIKMIDISynthesizer"
In  MIKMIDISynthesizer.m line: 451 we have the following :

`if (timeStamp >= toTimeStamp) break;`

And because of this `break`, scheduling commands to  MIKMIDISynthesizer only works fine if we schedule them in the order of their timestamps.

Here is my case:

When user taps on a button, I schedule two commands
1. noteOnCommand with ts = currentTimeStamp
2. noteOffCommand with ts = currentTimeStam

[2019-12-15 05:47] armadsen opened #282 "Improve performance of -[MIKMIDISequencer timeInSecondsForMusicTimeStamp:options:]"
Because `-[MIKMIDISequencer musicTimeStampForTimeInSeconds:options:]` calls through to `-timeInSeconds...`, in a loop it's actually the former that is most affected by poor performance here. There are a number of areas for speed up:

- Don't (re)sort the tempo events on line 735. They're already sorted when retrieved from the tempo track.
- `self.sequence.tempoEvents` is relatively slow due to the

[2019-12-15 06:56] armadsen commented on #282
The fix for #275 helps with point 2 above.

[2019-12-15 07:50] armadsen commented on #282
763ecde cuts calls to -timeInSecondsForMusicTimeStamp: roughly in half, but they can potentially be further reduced by building up a cache of times in seconds for each tempoEvent. They're still being calculated on both line 819 and on line 832 for ~every event.

[2020-01-15 05:11] armadsen opened #285 "Stopping MIKMIDISequencer does not stop running I/O"
In its default configuration, `MIKMIDISequencer` uses `MIKMIDISynthesizer` to synthesize audio. Internally, each `MIKMIDISynthesizer` sets up an `AUGraph` and starts audio I/O running. The problem is that it never stops this I/O. This causes a problem when (e.g. client) code sets the `AVAudioSession` to inactive, which throws an error when I/O is still running.

`MIKMIDISynthesizer` should provide

[2020-01-15 06:22] armadsen commented on #285
This fix currently causes another bug: Because the graphs are stopped immediately, synchronously in `-[MIKMIDISequencer stopWithDispatchToProcessingQueue:]`, scheduled but not yet played pending note offs end up not getting played. This leaves them "stuck" when the synth's graph is started back up again later (e.g. because `-[MIKMIDISequencer startPlayback]` is called again). This can be worked ar

[2020-01-26 13:19] tamir-maoz opened #286 "Duplicated events - sourceEndpointForConnectionToken Issue"
Hi,
I keep getting duplicated events like note ON. i tried using the disconnectConnectionForToken API but this did not resolve my issue.
after further looking i found that **sourceEndpointForConnectionToken API always returns nil** even if the token actually match.
return value for this function should be "result" and not "nil".

changing the return value solved my issue.

[2020-01-26 13:42] tamir-maoz commented on #286
Hi,
I just saw that commit: 167865a05498a7e1d3c760cdbf8eda54e9601bd9
included a fix for that issue.
When is this going to be available through Pods?
Thanks.

[2020-01-28 20:48] nanmec opened #287 "MIKMIDIMetaLyricEvent with Accents or "ñ" in the String value become Null"
This may be happening with other special characters but so far I've noticed events with accents nullified. Events with é í á ó ñ anywhere in the the string have a String value of Null

example:
this is what i get
<MIKMIDIMetaLyricEvent: 0x6000002ea260> Timestamp: 24.833333 Type: 21, Metadata Type: 0x05, String: (null)
this is what it should have been
<MIKMIDIMetaLyricEvent: 0x6000002ea260> Timesta

[2020-02-12 07:03] tamir-maoz commented on #265
Hi,
Thanks for your reply but it still does not cover the hardware device case.
the suggested test:
		return ![device.name isEqualToString:@"Bluetooth"] && ![device.name isEqualToString:@"Network"];
will only work if the device language is set to English. Otherwise, your hardware device test will always return "true" as if there is a hardware device connected although there is not.
can you suggest

[2020-02-12 10:28] soymonitus commented on #191
Same problem here, no notifications of newly added devices

[2020-02-12 10:42] johndpope commented on #265
Try trawling through github for objective-c files referencing Bluetooth + the native class that underpins device

[2020-03-07 06:40] latenitefilms opened #288 "Crash - MIKMIDISystemExclusiveCommand.m line 174"
Hopefully this crash information is helpful - any questions let me know!

<img width="1274" alt="Screen Shot 2020-03-07 at 5 39 05 pm" src="https://user-images.githubusercontent.com/22286696/76138318-90df3a00-609a-11ea-8a98-e8f39212c14f.png">

[code]

[code]